@()

<!DOCTYPE html>
<html ng-app="trifecta">
<head>
    <title>Trifecta: Dashboard</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <!-- WebJar Stylesheets -->
    <link href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))' type="text/css" rel="stylesheet" media="screen">
    <link href='@routes.WebJarAssets.at(WebJarAssets.locate("toaster.css"))' type="text/css" rel="stylesheet" media="screen">
    <link href='@routes.WebJarAssets.at(WebJarAssets.locate("tomorrow.min.css"))' type="text/css" rel="stylesheet" media="screen">

    <!-- Application-specific Stylesheets -->
    <link href='@routes.Assets.versioned("stylesheets/decoders.css")' type="text/css" rel="stylesheet" media=screen>
    <link href='@routes.Assets.versioned("stylesheets/index.css")' type="text/css" rel="stylesheet" media=screen>
    <link href='@routes.Assets.versioned("stylesheets/inspect.css")' type="text/css" rel="stylesheet" media=screen>
    <link href='@routes.Assets.versioned("stylesheets/observe.css")' type="text/css" rel="stylesheet" media=screen>
    <link href='@routes.Assets.versioned("stylesheets/publish.css")' type="text/css" rel="stylesheet" media=screen>
    <link href='@routes.Assets.versioned("stylesheets/query.css")' type="text/css" rel="stylesheet" media=screen>

    <!-- WebJar JS Libraries -->
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-animate.min.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-cookies.min.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-file-upload.min.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("highlight.min.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-highlightjs.min.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-resource.min.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-route.min.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-sanitize.min.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("toaster.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.min.js"))' type="text/javascript"></script>

    <!-- Scala.js Resources -->
    <script src="@routes.Assets.versioned(s"javascripts/trifecta-ui-js-fastopt.js?ts=${System.currentTimeMillis()}")"></script>
    <script src="@routes.Assets.versioned("javascripts/trifecta-ui-js-launcher.js")"></script>
</head>

<body id="TrifectaMain" ng-controller="MainController" ng-init="init()">
    <h2>
        <span class="title1">Tri</span><span class="title2">fec</span><span class="title3">ta</span>
        <span class="version">v{{ version }}</span>
        <span class="version"> ({{ kafkaVersion }})</span>
    </h2>

    <!-- global error messages -->
    <div ng-repeat="message in globalMessages" class="full_width">
        <div ng-class="'global_' + message.type" >
            <img class="middle" ng-src="/assets/images/status/{{ message.type == 'error' ? 'redlight.png' : message.type == 'info' ? 'bluelight.png' : 'yellowlight.gif' }}">
            {{ message.text }}
            <img class="clickable middle" style="float: right"
                 src="/assets/images/buttons/delete.png"
                 ng-click="removeMessage($index)">
        </div>
    </div>

    <toaster-container toaster-options="{'position-class':'toast-container','time-out':3000, 'close-button':true}">
    </toaster-container>

    <!-- application tabs -->
    <div class="title_border">
        <tabset>
            <tab ng-repeat="tab in tabs" active="tab.active" select="changeTab(tab, $event)">
                <tab-heading><img ng-class="isActiveTab(tab) ? 'tab_active' : 'tab_inactive'" ng-src="{{ tab.imageURL }}"> {{ tab.name }}</tab-heading>
            </tab>
        </tabset>
    </div>

    <!-- the active tab view -->
    <div ng-view ng-cloak></div>

    <!-- templates -->
    <div ng-include src="'/assets/views/templates/message_search_finder.html'"></div>
    <div ng-include src="'/assets/views/templates/message_search_loading.html'"></div>
    <div ng-include src="'/assets/views/templates/zk_item_tree.html'"></div>
</body>
</html>