<div ng-controller="InspectCtrl" ng-init="expandFirstItem()" class="full_block" style="padding-top: 10px">
    <!-- tabs -->
    <div style="display: inline; float: left; width: 14%; height: 500px; border-right: 1px solid #cccccc; padding-right: 5px">
        <tabset vertical="true" type="pills">
            <tab ng-repeat="tab in inspectTabs" active="tab.active" select="changeInspectTab($index, $event)">
                <tab-heading><img class="links" ng-src="{{ tab.imageURL }}"> {{ tab.name }}</tab-heading>
            </tab>
        </tabset>
    </div>

    <div style="display: inline; float: right; width: 85%">
        <div class="streaming_topics_container" style="margin-right: 5px">
            <div class="full_block">
                <!-- Brokers -->
                <div ng-show="inspectTab.name == 'Brokers'">
                    <div style="display: inline; float: left; width: 69.9%; height: 525px; border-right: 1px solid #cccccc">
                        <div ng-show="BrokerSvc.brokers.length" class="full_block hide_show_topics">{{ BrokerSvc.brokers.length }} host(s) found.</div>
                        <div ng-repeat="inst in BrokerSvc.brokers | orderBy:'host'">
                            <img class="clickable" ng-click="expandBroker(inst)" ng-src="/app/images/buttons/{{ inst.expanded ? 'collapse' : 'expand' }}.png"> {{ inst.host }} ({{ inst.details.length }} instances)
                            <table ng-show="inst.expanded" class="full_width indent">
                                <tr>
                                    <th>Port</th>
                                    <th class="center">Version</th>
                                    <th class="center">Timestamp</th>
                                    <th class="center">JMX Port</th>
                                </tr>
                                <tr ng-repeat="b in inst.details | orderBy:'port'">
                                    <td>{{ b.port }}</td>
                                    <td class="center">{{ b.version }}</td>
                                    <td class="center">{{ b.timestamp }}</td>
                                    <td class="center">
                                        <span ng-show="b.jmxPort">{{ b.jmxPort }}</span>
                                        <span ng-hide="b.jmxPort" class="inactive">N/A</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-hide="BrokerSvc.brokers.length">
                            <div>
                                <img src="/app/images/status/yellowlight.gif">
                                <span class="warning">No brokers were found.</span>
                            </div>
                            <div style="margin-top: 10px">
                                This usually means that either:
                                <ul>
                                    <li>Kafka has not been setup on the Zookeeper node for which you are pointing.</li>
                                    <li>Or, Trifecta has not been configured to point to the Zookeeper instance that is
                                    running Kafka.
                                        <blockquote>
                                            <div style="color: #aaaaaa"># the Zookeeper instance the Kafka Brokers are pointing to</div>
                                            <div><span style="color: magenta">trifecta.zookeeper.host</span> = <span style="color: blue">localhost:2181</span></div>
                                        </blockquote>
                                    </li>
                                </ul>
                                <p>Please review/update the configuration properties found in <span style="color: blue">$HOME/.trifecta/config.properties</span>,
                                and restart Trifecta.</p>
                            </div>
                        </div>
                    </div>
                    <div style="display: inline; float: right; width: 30%; padding-left: 4px">
                        <div ng-include="'/app/views/partials/hints_and_tips.htm'"></div>
                        <p><img class="bulb" src="/app/images/common/bulb-16.png"> Kafka producers send data directly to
                            the broker that is the leader for the partition without any intervening routing tier. To help
                            the producer do this all Kafka nodes can answer a request for metadata about which servers are
                            alive and where the leaders for the partitions of a topic are at any given time to allow the
                            producer to appropriate direct its requests.</p>
                    </div>
                    <br style="clear: both"/>
                </div>

                <!-- Consumers -->
                <div ng-show="inspectTab.name == 'Consumers'">
                    <div style="display: inline; float: left; width: 69.9%; height: 525px; border-right: 1px solid #cccccc">
                        <div ng-show="ConsumerSvc.consumers.length" ng-include="'/app/views/partials/hide_show_empty_topics.htm'"></div>
                        
                        <!-- No Consumers -->
                        <div ng-hide="ConsumerSvc.consumers.length">
                            <div>
                                <img src="/app/images/status/yellowlight.gif">
                                <span class="warning">No consumers were found.</span>
                            </div>
                            <p style="margin-top: 5px">But if you believe some consumer data should have been found here,
                                don't panic.</p>
                            <p>Trifecta supports <u>two types</u> of consumers:</p>
                            <ul>
                                <li>Kafka-native Consumer Groups</li>
                                <li>Kafka-Storm Partition Manager Consumers</li>
                            </ul>

                            <p><i>Kafka-native Consumer Groups</i> are retrieved by default. However, the
                            <i>Kafka-Storm Partition Manager Consumers</i> require a property
                                (<i>trifecta.storm.kafka.consumers.partitionManager</i>) to be set to <i>true</i> in
                                <span style="color: blue">$HOME/.trifecta/config.properties</span>.</p>

                            <p>Example:</p>
                            <blockquote>
                                <div style="color: #aaaaaa"># indicates whether Storm Partition Manager-style consumers should be read from Zookeeper</div>
                                <div><span style="color: magenta">trifecta.storm.kafka.consumers.partitionManager</span> = <span style="color: blue">true</span></div>
                            </blockquote>

                            <p>If you're using Apache Storm, and you have not yet set the above property to true, please do
                            so, then restart Trifecta for the change to take affect.</p>
                        </div>

                        <!-- Consumers -->
                        <div ng-show="ConsumerSvc.consumers.length" class="block" ng-repeat="t in getTopics(hideEmptyTopics)">
                            <a ng-click="expandTopicConsumers(t)">
                                <img ng-src="/app/images/{{t.loadingConsumers ? 'status/loading.gif' : t.expanded ? 'buttons/collapse.png' : 'buttons/expand.png'}}">
                                <img ng-src="{{ getTopicIcon(t, t == topic) }}"> {{ t.topic }}
                                <span ng-show="t.totalMessages > 0">
                                    (<span ng-show="t.totalMessages > 0" class="messages">{{t.totalMessages | number}}</span>)
                                </span>
                            </a>

                            <div ng-show="t.expanded" ng-repeat="consumer in t.consumers" class="indent">
                                <a ng-click="consumer.expanded = !consumer.expanded">
                                    <img ng-src="/app/images/buttons/{{consumer.expanded ? 'collapse' : 'expand'}}.png">
                                    <img src="/app/images/common/consumers-16.png">
                                    <span>{{consumer.consumerId}}</span>
                                    <img src="/app/images/status/processing.gif" ng-show="consumer.expanded && isConsumerUpToDate(consumer)">
                                </a>

                                <div ng-show="consumer.expanded" class="indent">
                                    <table>
                                        <tr>
                                            <th>Partition</th>
                                            <th>Topic Offset</th>
                                            <th>Consumer Offset</th>
                                            <th>Remaining</th>
                                            <th>Last Updated</th>
                                        </tr>

                                        <tr ng-repeat="detail in consumer.details | orderBy:'partition'">
                                            <td class="center">{{ detail.partition }}</td>
                                            <td class="left">
                                                <a ng-click="switchToMessage(detail.topic, detail.partition, detail.topicOffset)">
                                                    {{ detail.topicOffset | number }}
                                                </a>
                                                <span class="delta_topic" ng-show="detail.deltaT">
                                                    <img src="/app/images/tabs/inspect/arrow_topic.gif"> {{ detail.deltaT | number }}
                                                </span>
                                            </td>
                                            <td class="left">
                                                <a ng-click="switchToMessage(detail.topic, detail.partition, detail.offset)">
                                                    {{ detail.offset | number }}
                                                </a>
                                                <span class="delta_consumer" ng-show="detail.deltaC">
                                                    <img src="/app/images/tabs/inspect/arrow_consumer.gif"> {{ detail.deltaC | number }}
                                                </span>
                                            </td>
                                            <td class="left">{{ detail.messagesLeft | number }}</td>
                                            <td>
                                                {{ detail.lastModified | date:getDateFormat(detail.lastModified) }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: inline; float: right; width: 30%; padding-left: 4px">
                        <div ng-include="'/app/views/partials/hints_and_tips.htm'"></div>
                        <p><img class="bulb" src="/app/images/common/bulb-16.png"> Kafka uses Consumer Groups to
                            track the current offset individual for individual consumers. This view allows users to view
                            those offsets via web socket in near real-time.</p>
                        <div ng-include="'/app/views/partials/web_socket_refresh.htm'"></div>
                    </div>
                </div>

                <div ng-show="inspectTab.name == 'Replicas'">
                    <div style="display: inline; float: left; width: 69.9%">
                        <div ng-include="'/app/views/partials/hide_show_empty_topics.htm'"></div>
                        <div ng-repeat="t in getTopics(hideEmptyTopics)">
                            <a ng-click="expandReplicas(t)">
                                <img ng-src="/app/images/{{t.loading ? 'status/loading.gif' : t.replicaExpanded ? 'buttons/collapse.png' : 'buttons/expand.png'}}">
                                <img ng-src="{{ getTopicIcon(t, t == topic) }}"> {{ t.topic }}
                                <span ng-show="t.totalMessages > 0">
                                    (<span ng-show="t.totalMessages > 0" class="messages">{{t.totalMessages | number}}</span>)
                                </span>
                            </a>

                            <div ng-show="t.replicaExpanded" ng-repeat="r in t.replicas | orderBy:'partition'" class="indent">
                                <img ng-click="r.partitionExpanded = !r.partitionExpanded" ng-src="/app/images/buttons/{{r.partitionExpanded ? 'collapse.png' : 'expand.png'}}">
                                <img ng-src="{{ getInSyncBulbImage(r.inSyncPct) }}">
                                Partition {{ r.partition }}
                                <span style="color: #aaaaaa">
                                    (<span ng-class="getInSyncClass(r.inSyncPct)">{{r.inSyncPct}}%</span>)
                                </span>

                                <div ng-show="r.partitionExpanded" ng-repeat="broker in r.replicas" class="indent">
                                    <img ng-show="broker.inSync" src="/app/images/status/online-16.png">
                                    <img ng-hide="broker.inSync" src="/app/images/status/offline-16.png">
                                    <span ng-class="!broker.inSync ? 'in_sync_red' : ''">{{ broker.host }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: inline; float: right; width: 30%; height: 100%; border-left: 1px solid #cccccc; padding-left: 4px">
                        <div ng-include="'/app/views/partials/hints_and_tips.htm'"></div>
                        <p><img class="bulb" src="/app/images/common/bulb-16.png"> This view provides the user
                            with information about the replication of topic partitions. The replication state of each partition
                            is displayed as a percentage:
                            <ul>
                                <li><span class="in_sync_green">100%</span> &#8212; indicates a healthy fully replicated partition</li>
                                <li><span class="in_sync_yellow">1% to 99%</span> &#8212; indicates an under-replicated partition</li>
                                <li><span class="in_sync_red">0%</span> &#8212; indicates a partition that is completely unavailable</li>
                            </ul>
                        </p>
                    </div>
                </div>

                <div ng-show="inspectTab.name == 'Leaders'">
                    <div style="display: inline; float: left; width: 69.9%; height: 525px; border-right: 1px solid #cccccc">
                        <div ng-include="'/app/views/partials/hide_show_empty_topics.htm'"></div>

                        <!-- No Topics -->
                        <div ng-hide="getTopics(hideEmptyTopics).length">
                            <img src="/app/images/status/yellowlight.gif">
                            <span class="warning">No topic with messages found.</span>
                        </div>

                        <!-- Topics -->
                        <div class="block" ng-repeat="t in getTopics(hideEmptyTopics)">
                            <a ng-click="t.expanded = !t.expanded">
                                <img ng-src="/app/images/buttons/{{t.expanded ? 'collapse.png' : 'expand.png'}}">
                                <img ng-src="{{ getTopicIcon(t, topic == t) }}"> {{ t.topic }}
                                <span ng-show="t.totalMessages > 0">
                                    (<span ng-show="t.totalMessages > 0" class="messages">{{t.totalMessages | number}}</span>)
                                </span>
                                <img src="/app/images/status/processing.gif" ng-show="t.updatingTopics">
                            </a>
                            <div ng-show="t.expanded" style="width: 100%; margin-left: 32px">
                                <table>
                                    <tr>
                                        <th>Partition</th>
                                        <th>First Offset</th>
                                        <th>Last Offset</th>
                                        <th>Messages</th>
                                        <th>Leader</th>
                                    </tr>

                                    <tr ng-repeat="p in t.partitions | orderBy:'partition'">
                                        <td class="center">{{ p.partition }}</td>
                                        <td>
                                            <span ng-show="p.startOffset < p.endOffset">
                                                <a ng-click="switchToMessage(t.topic, p.partition, p.startOffset)">{{ p.startOffset | number }}</a>
                                            </span>
                                            <span class="inactive" ng-hide="p.startOffset < p.endOffset">&#8212;</span>
                                        </td>
                                        <td>
                                            <span ng-show="p.startOffset < p.endOffset">
                                                <a ng-click="switchToMessage(t.topic, p.partition, p.endOffset)">{{ p.endOffset | number }}</a>
                                            </span>
                                            <span class="inactive" ng-hide="p.startOffset < p.endOffset">&#8212;</span>
                                        </td>
                                        <td>
                                            {{ p.messages | number }}
                                            <span class="delta_topic" ng-show="p.delta">
                                                <img src="/app/images/tabs/inspect/arrow_topic.gif"> {{ p.delta | number }}
                                            </span>
                                        </td>
                                        <td>
                                            <span ng-show="p.leader">{{ p.leader.host }}:{{ p.leader.port }}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div style="display: inline; float: right; width: 30%; padding-left: 4px">
                        <div ng-include="'/app/views/partials/hints_and_tips.htm'"></div>
                        <p><img class="bulb" src="/app/images/common/bulb-16.png"> This view provides the user
                            with information about the current offset for all partitions within each non-empty topic
                            (containing at least one message).</p>
                        <div ng-include="'/app/views/partials/web_socket_refresh.htm'"></div>
                    </div>
                </div>

                <div ng-show="inspectTab.name == 'Zookeeper'" class="block" style="margin-left: 5px">
                    <div style="display: inline; width: 40.9%; float: left; border-right: 1px solid #cccccc" class="zk_item_container">
                        <div ng-repeat="item in zkItems" ng-include="'zk_item_tree.htm'"></div>
                    </div>
                    <div style="display: inline; width: 59%; float: right">
                        <div class="full_block" style="margin-left: 5px">
                            <table ng-show="zkItem" style="border-collapse: separate; border-spacing: 4px;">
                                <tr>
                                    <th>Path:</th>
                                    <td>{{ zkItem.path }}</td>
                                </tr>
                                <tr>
                                    <th>Created:</th>
                                    <td>{{ zkItem.creationTime | date:'MM-dd-yyyy hh:mm:ss' }}</td>
                                </tr>
                                <tr>
                                    <th>Last Modified:</th>
                                    <td>{{ zkItem.lastModified | date:'MM-dd-yyyy hh:mm:ss' }}</td>
                                </tr>
                                <tr ng-show="zkItem.size">
                                    <th>Size (in bytes):</th>
                                    <td>{{ zkItem.size | number }}</td>
                                </tr>
                            </table>

                            <div ng-show="zkItem.data" style="margin-top: 20px">
                                <span class="bold">Data Format:</span>
                                <select ng-model="selected.format" ng-options="format for format in formats"
                                        ng-change="formatData(zkItem.path, selected.format)">
                                </select>

                                <table class="full_width" ng-if="zkItem.data.type == 'binary'">
                                    <tr ng-repeat="tuple in zkItem.data.value track by $index">
                                        <td style="background: #cceeff; border: 1px solid #cccccc">{{ tuple[0] }}</td>
                                        <td style="background: #ffff88; border: 1px solid #cccccc">{{ tuple[1] }}</td>
                                    </tr>
                                </table>

                                <div ng-if="zkItem.data.type == 'json'" hljs source="toPrettyJSON(zkItem.data.value, 4)"></div>
                                <div ng-if="zkItem.data.type == 'plain-text'">{{ zkItem.data.value }}</div>
                            </div>
                        </div>
                    </div>
                    <br style="clear: both">
                </div>
            </div>
        </div>
    </div>

    <br style="clear: both">
</div>