/*************************************************
 *      Element Styles
 *************************************************/

a { cursor: pointer }

body {
    min-width: 900px;
    margin-left: 25px;
    margin-right: 25px;
}

fieldset { border-color: #cccccc }

img { vertical-align: middle }

legend { color: #999999 }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th { padding: 4px 4px 4px 4px }

td { padding: 4px 4px 4px 4px }

th { text-align: left }


/*************************************************
 *      Custom Styles
 *************************************************/

.block { display: block }

.bold { font-weight: bold }

.bulb { padding-left: 2px }

.center { text-align: center }

.clickable { cursor: pointer; }

.error {
    font-weight: bold;
    color: #ff0000;
}

.full_block {
    display: block;
    width: 100%;
}

.full_width { width: 100% }

.global_info {
    width: 100%;
    font-weight: bold;
    background: #eeeeff;
    color: #0000ff;
}

.global_error {
    width: 100%;
    font-weight: bold;
    background: #ffeeee;
    color: #ff0000;
}

.global_warning {
    width: 100%;
    font-weight: bold;
    background: #ffeecc;
    color: #ffaa40;
}

.header_item {
    font-size: 9pt;
}

.header_label {
    color: #337ab7;
    font-size: 9pt;
    font-weight: bold;
}

.highlighted {
    color: #337ab7;
    background-color: #ffff00;
}

.sub_highlighted {
    color: #337ab7;
    background-color: #00ffff;
}

.hints_and_tips {
    background: #337ab7;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.inactive { color: #cccccc }

.indent { margin-left: 32px; }

.inline {
    display: inline;
}

.italic {
    color: cornflowerblue;
    font-style: italic;
}

.left { text-align: left }

.messages { color: #00aaaa }

.middle { vertical-align: middle }

.negative { color: #f00000 }

.null { color: #aaaaaa }

.positive { color: #00cc00 }

.right { text-align: right }

.tab_active {
    border: 2px solid #000000;
    border-radius: 4px 4px 4px 4px;
    padding: 2px 2px 2px 2px;
    vertical-align: middle;
}

.tab_inactive {
    padding: 4px 4px 4px 4px;
    vertical-align: middle;
}

.title_border {
    /*
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;*/
}

.title1 { color: #f00000 }

.title2 { color: #337ab7 }

.title3 { color: #00a000 }

.top { vertical-align: top }

.version { font-size: 12pt }

.warning { color: #ffaa40 }