<div ng-controller="DecoderCtrl" class="full_block" style="height: 587px">
    <div id="Decoders" class="col-md-5" style="height: 100%">
        <fieldset>
            <legend style="margin-bottom: 0">Decoders</legend>
            <div ng-show="topics.length" ng-include="'/assets/views/partials/hide_show_empty_topics.html'"></div>
            <div class="d_topics_container">
                <div ng-repeat="t in getTopics() | orderBy:'topic'">
                    <div ng-class="t == decoder ? 'highlighted' : ''">
                        <img class="clickable"
                             ng-click="expandCollapseDecoder(t)"
                             ng-src="/assets/images/{{ t.loading ? 'status/loading.gif' : t.decoderExpanded ? 'buttons/collapse.png' : 'buttons/expand.png' }}">
                        <img ng-src="{{ getTopicIconSelection(t == decoder) }}">
                        <span ng-click="selectDecoder(t)" class="clickable">{{ t.topic }}</span>
                    </div>

                    <div ng-show="t.decoderExpanded">
                        <div ng-show="t == decoder" class="indent">
                            <img src="/assets/images/tabs/decoders/add_schema-16.png">
                            <span class="q_new_query" ng-click="setUpNewDecoderSchema(t)">[add decoder]</span>
                        </div>
                        <div ng-repeat="s in t.schemas | orderBy:'name'" class="indent">
                            <img ng-src="{{ getSchemaIcon(s) }}" title="Avro Schema">
                            <span ng-click="selectSchema(s)" ng-class="s == schema ? 'sub_highlighted' : ''" class="clickable">{{ s.name }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <!-- Hints & Tips -->
        <div class="d_hints_tips_container">
            <div ng-include="'/assets/views/partials/hints_and_tips.html'"></div>
            <p><img class="bulb" src="/assets/images/common/bulb-16.png"> Above are the topics that have decoders
                associated with them (e.g. <a href="http://avro.apache.org" target="avro_window">Avro</a>).
                These decoders allow the binary data of messages to be transformed into more human readable formats.</p>

            <p><img class="bulb" src="/assets/images/common/bulb-16.png"> When multiple decoders are associated to a topic,
                each decoder is tested sequentially (starting with the most recently modified) until a decoder is found
                that successfully decodes the message.</p>
        </div>
    </div>
    <div class="col-md-7" style="height: 100%; padding: 5px 0 5px 5px">
        <div class="d_editor_bar">
            <span ng-hide="schema.newSchema">
                <img ng-hide="schema.editMode" class="d_editor_bar" ng-click="toggleEditMode(schema)" src="/assets/images/tabs/decoders/edit-20.png" title="Edit this schema">
                <img ng-show="schema.editMode" class="d_editor_bar" ng-click="cancelEdit(schema)" src="/assets/images/tabs/decoders/cancel-20.png" title="Cancel editing">
                <img ng-show="schema.editMode" class="d_editor_bar" ng-click="saveSchema(schema)" src="/assets/images/tabs/decoders/save-20.png" title="Save schema changes">
                <img ng-hide="schema.editMode" class="d_editor_bar" ng-click="downloadSchema(decoder, schema)" src="/assets/images/tabs/decoders/download-20.png" title="Download the schema">
            </span>
            <span ng-show="schema.editMode" class="warning mode_label bold">Edit Mode</span>
            <span ng-hide="schema.editMode" class="positive mode_label bold">View Mode</span>
        </div>
        <div class="new_schema_section" ng-show="schema.newSchema">
            <div style="padding: 2px">
                <span class="d_label">Decoder Name</span>
                <input class="d_schema_name_field" ng-model="schema.name" type="text">
                <button class="d_save_button" ng-click="saveNewSchema(schema)">Save & Upload</button>
                <button class="d_cancel_button" ng-click="cancelNewSchema(decoder, schema)">Cancel</button>
            </div>
        </div>
        <div ng-show="schema.error" class="schema_error">
            <span class="error">Compile Error:</span> {{ schema.error }}
        </div>
        <div class="message_panel">
            <textarea ng-model="schema.schemaString" ng-show="schema.editMode" class="d_editor"
                      ng-change="schema.modified = true"
                      placeholder="Copy and paste Avro schema here">{{ schema.schemaString }}</textarea>
            <div ng-if="!schema.editMode" hljs source="toPrettyJSON(schema.schemaString, 8)"></div>
        </div>
    </div>
</div>