<div ng-controller="ObserveCtrl" class="row full_block" ng-init="init()">
    <div class="col-md-5">
        <fieldset>
            <legend style="margin-bottom: 0">Message Topics</legend>
            <div ng-show="topics.length" ng-include="'/assets/views/partials/hide_show_empty_topics.html'"></div>
            <div class="topics_container">
                <div ng-repeat="t in getTopics() | orderBy:'topic'" ng-class="t == topic ? 'highlighted' : ''">
                    <img ng-src="{{ getTopicIcon(t, topic == t) }}">
                    <span ng-click="updateTopic(t)" ng-class="t == topic ? 'highlighted' : ''" class="clickable">{{t.topic}}</span>
                    <span ng-show="t.totalMessages">
                        (<span class="messages">{{t.totalMessages | number}}</span>)
                    </span>
                </div>
            </div>
        </fieldset>

        <div class="separator">
            <fieldset style="border-radius: 5px 5px 5px 5px">
                <legend>Topic Offsets</legend>
                <div class="messages_and_offsets">
                    <table class="full_width">
                        <tr>
                            <th>Partition</th>
                            <th>Current Offset</th>
                            <th>Last Offset</th>
                            <th>{{ isLimitedControls() ? "Remaining" : "Messages" }}</th>
                        </tr>
                        <tr ng-repeat="p in topic.partitions | orderBy:'partition'" ng-class="isSelected(p) ? 'highlighted' : ''">
                            <td>
                                <a ng-click="updatePartition(p)">
                                    <span style="padding-left: 5px">{{p.partition}}</span>
                                </a>
                            </td>
                            <td>
                                <span ng-show="p.startOffset < p.endOffset">
                                    <a ng-click="switchToMessage(topic.topic, p.partition, p.offset)">{{p.offset}}</a>
                                </span>
                                <span class="inactive" ng-hide="p.startOffset < p.endOffset">&#8212;</span>
                            </td>
                            <td>
                                <span ng-show="p.startOffset < p.endOffset">
                                    <a ng-click="switchToMessage(topic.topic, p.partition, p.endOffset)">{{p.endOffset}}</a>
                                </span>
                                <span class="inactive" ng-hide="p.startOffset < p.endOffset">&#8212;</span>
                            </td>
                            <td>{{ isLimitedControls() ? getRemainingCount(p) : p.messages | number }}</td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="col-md-7" style="margin-top: 12px">
        <div style="display: block; margin-bottom: 3px">
            <div class="input_block">
                <img ng-src="/assets/images/{{ loading || isLimitedControls() ? 'status/loading.gif' : 'common/root-16.png' }}">
                <img class="clickable" src="/assets/images/tabs/observe/search-16.png" ng-click="messageFinderPopup()" title="search for a message">
                <img class="clickable" src="/assets/images/tabs/observe/decoder-16.png" ng-click="gotoDecoder(topic)" title="goto the decoder(s) for this message">
                <img ng-show="sampling.status == 'started'" class="clickable" src="/assets/images/tabs/observe/pause-16.png" ng-click="messageSamplingStop(topic)" title="stop message streaming">
                <img ng-show="sampling.status == 'stopped'" class="clickable" src="/assets/images/tabs/observe/play-16.png" ng-click="messageSamplingStart(topic)" title="start message streaming">
            </div>
            <div class="input_block" ng-show="isLimitedControls()">
                <span class="negative bold">Streaming: </span>
                <span class="header_label">Partition</span>
                <span ng-show="message.partition != null">{{ message.partition }}</span>
                <span class="inactive" ng-hide="message.partition != null">****</span>

                <span class="header_label">Offset</span>
                <span ng-show="message.offset != null">{{ message.offset }}</span>
                <span class="inactive" ng-hide="message.offset != null">****</span>
            </div>
            <div class="input_block" ng-hide="isLimitedControls()">
                <span class="header_label">View </span>
                <input ng-model="displayMode.state" type="radio" value="key" ng-change="resetMessageState(displayMode.state, topic.topic, partition.partition, partition.offset)"> <span class="header_item">Key</span>
                <input ng-model="displayMode.state" type="radio" value="message" ng-change="resetMessageState(displayMode.state, topic.topic, partition.partition, partition.offset)"> <span class="header_item">Message</span>
            </div>
            <div class="input_block" ng-hide="isLimitedControls()">
                <span class="header_label">Offset</span> <input ng-model="partition.offset" type="text" class="input-mir" ng-change="convertOffsetToInt(partition, partition.offset)">
                <img class="clickable" src="/assets/images/tabs/observe/message-first.gif" ng-click="firstMessage()" title="move to first message">
                <img class="clickable" src="/assets/images/tabs/observe/message-prev.gif" ng-click="previousMessage()" title="move to previous message">
                <img class="clickable" src="/assets/images/tabs/observe/message-next.gif" ng-click="nextMessage()" title="move to next message">
                <img class="clickable" src="/assets/images/tabs/observe/message-last.gif" ng-click="lastMessage()" title="move to last message">
            </div>
            <!--
            <div class="input_block">
                <img class="clickable" src="/assets/images/tabs/observe/message_export-16.png" ng-click="exportMessage(message)" title="export the message">
             </div>
            <div ng-show="message.type == 'json'" class="input_block">
                <img ng-show="displayMode.avro == 'json'" class="clickable" src="/assets/images/tabs/observe/js-16.png" ng-click="toggleAvroOutput()" title="Switch to Avro-JSON output">
                <img ng-show="displayMode.avro == 'avro'" class="clickable" src="/assets/images/tabs/observe/avro-16.gif" ng-click="toggleAvroOutput()" title="Switch to JSON output">
            </div>
            -->
        </div>

        <fieldset style="border-radius: 5px 5px 5px 5px">
            <div class="message_panel">
                <div ng-show="message.type == 'json'" hljs source="messageAsJSON(message, 4)"></div>
                <div class="full_block" ng-show="message.type == 'bytes'" ng-repeat="tuple in message.payload track by $index">
                    <div class="binary_message_left">{{ tuple[0] }}</div>
                    <div class="binary_message_right">{{ tuple[1] }}</div>
                    <br style="clear: both">
                </div>
            </div>
        </fieldset>
    </div>
</div>