<div ng-controller="QueryCtrl" class="full_block">
    <div class="col-md-4" style="height: 587px; border-right: 1px solid #cccccc">
        <fieldset>
            <legend style="margin-bottom: 0">Queries</legend>
            <div ng-show="topics.length" ng-include="'/assets/views/partials/hide_show_empty_topics.html'"></div>
            <div class="q_topics_container">
                <div ng-repeat="t in getTopics() | orderBy:'topic'">
                    <div ng-class="t === collection ? 'highlighted' : ''">
                        <img class="clickable"
                             ng-click="expandQueryCollection(t)"
                             ng-src="/assets/images/{{ t.loading ? 'status/loading.gif' : t.queriesExpanded ? 'buttons/collapse.png' : 'buttons/expand.png' }}">
                        <img ng-src="{{ getTopicIcon(t, t === collection) }}">
                        <span ng-click="selectQueryCollection(t)" class="clickable">{{ t.topic }}</span>
                        <span ng-show="t.totalMessages">(<span class="messages">{{t.totalMessages | number}}</span>)</span>
                    </div>

                    <div ng-show="t.queriesExpanded" class="indent">
                        <div ng-show="t === collection" style="margin-left: 20px">
                            <img src="/assets/images/tabs/query/add_query-16.png">
                            <span class="q_new_query" ng-click="setUpNewQueryDocument(t)">[new query]</span>
                        </div>
                        <div ng-repeat="q in t.savedQueries">
                            <div ng-class="'full_block ' + (q === savedQuery ? 'sub_highlighted' : '')">
                                <img ng-hide="q.results" src="/assets/images/status/transparent-16.png">
                                <img ng-show="q.results" class="clickable" ng-click="q.collapsed = !q.collapsed" ng-src="/assets/images/buttons/{{ !q.collapsed ? 'collapse.png' : 'expand.png' }}">
                                <img ng-src="/assets/images/tabs/query/{{ q.modified ? 'modified-16.png' : 'query-16.png' }}">
                                <span class="clickable" ng-click="selectQuery(q)">{{ q.name }}</span>
                                <img ng-show="q.running" src="/assets/images/status/processing.gif">
                            </div>

                            <div ng-show="!q.collapsed" style="margin-left: 32px" ng-repeat="r in q.results" class="full_block" ng-class="q === savedQuery && r === q.savedResult ? 'q_highlighted' : ''">
                                <img class="clickable" src="/assets/images/tabs/query/remove-16.gif">
                                <span class="clickable" ng-click="selectQueryResults(q, $index)">{{ r.name }}</span>
                                <img class="clickable"
                                     src="/assets/images/tabs/query/download-16.png"
                                     ng-click="downloadResults(r.results)"
                                     title="Click to download result as CSV">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <!-- Hints & Tips -->
        <div class="q_hints_tips_container">
            <div ng-include="'/assets/views/partials/hints_and_tips.html'"></div>
            <p><img class="bulb" src="/assets/images/common/bulb-16.png">
                <span class="title1">Tri</span><span class="title2">fec</span><span class="title3">ta</span>
                provides the Kafka Query Language (KQL), a special-purpose SQL-like programming language
                designed for extracting/publishing messages to/from
                <a href="http://avro.apache.org" target="arvo_window">Avro</a>-encoded Kafka topics.</p>
            <p><img class="bulb" src="/assets/images/common/bulb-16.png"> This view allows users to:
                <ul>
                    <li>Create KQL queries (associating them to topics)</li>
                    <li>Execute KQL queries and manage the search results</li>
                    <li>Download KQL query search results as CSV files</li>
                    <li>Upload KQL queries to the server (located in
                        <span class="italic">$HOME</span>/.trifecta/queries/<span class="italic">topic</span>)</li>
                </ul>
            </p>
        </div>
    </div>

    <div class="col-md-8" style="height: 625px">
        <!-- new query script setup -->
        <div class="new_schema_section" ng-show="savedQuery.newFile">
            <div>
                <span class="d_label">File Name</span>
                <input class="d_schema_name_field" ng-model="savedQuery.name" type="text">
                <button class="d_save_button" ng-click="saveQuery(savedQuery)">Save & Upload</button>
                <button class="d_cancel_button" ng-click="cancelNewQuery(savedQuery)">Cancel</button>
            </div>
        </div>

        <!-- Query script input -->
        <div style="width: 100%; height: 40%; padding: 2px 2px 2px 2px;">
            <textarea class="q_editor" placeholder="Enter query here"
                      ng-model="savedQuery.queryString"
                      ng-change="savedQuery.modified = true"
                      ng-disabled="savedQuery.running">
            </textarea>
        </div>

        <div style="width: 100%; height: 59%">
            <!-- Query Action Bar -->
            <div class="q_action_bar">
                <div style="display: inline; float: left">
                    <img class="q_action_icon" ng-src="/assets/images/tabs/query/{{ savedQuery.running ? 'running-24.gif' : 'run-24.gif' }}" ng-click="executeQuery(savedQuery)" title="Execute the query script">
                    <img ng-show="savedQuery.modified" class="q_action_icon" src="/assets/images/tabs/query/save-24.png" ng-click="saveQuery(savedQuery)" title="Save and upload the query script">
                    <img ng-show="savedQuery.results" class="q_action_icon" src="/assets/images/tabs/query/download-24.png" ng-click="downloadResults(savedQuery.results)" title="Download results">
                </div>
                <div style="display: inline; float: right; vertical-align: middle">
                    <span ng-show="savedQuery.running" style="margin: 15px; vertical-align: middle">
                        <img class="middle" src="/assets/images/tabs/query/clock-16.png">
                        <span class="q_clock_text">{{ savedQuery.queryElaspedTime | number:0 }} sec(s)</span>
                    </span>
                    <span class="q_clock_text" ng-show="savedQuery.savedResult" style="margin: 15px; vertical-align: middle">
                        {{ savedQuery.savedResult.resultSet.values.length | number }} result(s) in
                        <span class="positive">{{ savedQuery.savedResult.resultSet.runTimeMillis | number:1 }} sec(s)</span>
                    </span>
                </div>
                <br style="clear: both">
            </div>

            <!-- Query Results -->
            <div style="width: 100%; min-height: 298px; background: #eeeeee; border: 1px solid #cccccc">
                <div class="q_results_container">
                    <table class="full_width" ng-show="savedQuery.savedResult.resultSet">
                        <thead>
                        <tr style="border-bottom: 1px solid #aaaaaa">
                            <th ng-repeat="label in savedQuery.savedResult.mappings.labels">
                                <a ng-click="toggleSortField(savedQuery, label)" title="sort by {{ label }}">
                                    {{ label }}
                                    <img ng-show="savedQuery.savedResult.sortField == label" class="middle clickable"
                                         ng-src="/assets/images/buttons/sort_{{ savedQuery.savedResult.ascending ? 'up' : 'down' }}.gif">
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in savedQuery.savedResult.resultSet.values" ng-class="isSelected(topic, partition, savedQuery.savedResult.results, $index) ? 'highlighted' : $index % 2 == 0 ? '' : 'q_odd'">
                            <td ng-repeat="column in savedQuery.savedResult.mappings.labels">
                                <span ng-show="$index == 0">
                                    <a ng-click="switchToMessage(savedQuery.savedResult.resultSet.topic, partitionAt($parent.$index), offsetAt($parent.$index))">
                                        <span class="q_key_field">{{ row[column] }}</span>
                                    </a>
                                </span>
                                <span ng-hide="$index == 0">{{ row[column] }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>