<div ng-controller="QueryController" class="full_block">
    <div class="col-md-4" style="height: 587px; border-right: 1px solid #cccccc">
        <fieldset>
            <legend style="margin-bottom: 0">Queries</legend>
            <div ng-show="topics.length" ng-include="'/assets/views/partials/hide_show_empty_topics.html'"></div>
            <div ng-show="topicsLoading" style="margin-top: 15px">
                <img src="/assets/images/status/loading.gif"> Retrieving topic information from Kafka...
            </div>

            <div class="q_topics_container">
                <div ng-repeat="t in getTopics() | orderBy:'topic'">
                    <div ng-class="isSelectedTopic(t) ? 'highlighted' : ''">
                        <img class="clickable"
                             ng-click="expandQueryTopic(t)"
                             ng-src="/assets/images/{{ t.loading ? 'status/loading.gif' : t.queriesExpanded ? 'buttons/collapse.png' : 'buttons/expand.png' }}">
                        <img ng-src="{{ getTopicIcon(t, isSelectedTopic(t)) }}">
                        <span ng-click="selectTopic(t)" class="clickable">{{ t.topic }}</span>
                        <span ng-show="t.totalMessages">(<span class="messages">{{t.totalMessages | number}}</span>)</span>
                    </div>

                    <div ng-show="t.queriesExpanded" class="indent">
                        <div ng-repeat="r in t.queryResults">
                            <img ng-click="removeResult(t, r)" class="clickable" src="/assets/images/tabs/query/remove-16.gif">
                            <span ng-click="importResults(r)" class="clickable q_query_string">"{{ r.queryString }}"</span> (<span class="positive">{{ r.rows.length }}</span>)
                            <a ng-click="downloadResults(r)" title="Click to download result as JSON">
                                <img src="/assets/images/tabs/query/download-16.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <!-- Hints & Tips -->
        <div class="q_hints_tips_container">
            <div ng-include="'/assets/views/partials/hints_and_tips.html'"></div>
            <p><img class="bulb" src="/assets/images/common/bulb-16.png">
                <span class="title1">Tri</span><span class="title2">fec</span><span class="title3">ta</span>
                provides the Kafka Query Language (KQL), a special-purpose SQL-like programming language
                designed for extracting/publishing messages to/from
                <a href="http://avro.apache.org" target="arvo_window">Avro</a>-encoded Kafka topics.</p>
            <p><img class="bulb" src="/assets/images/common/bulb-16.png"> This view allows users to:
                <ul>
                    <li>Create KQL queries (associating them to topics)</li>
                    <li>Execute KQL queries and manage the search results</li>
                    <li>Download KQL query search results as CSV files</li>
                    <li>Upload KQL queries to the server (located in
                        <span class="italic">$HOME</span>/.trifecta/queries/<span class="italic">topic</span>)</li>
                </ul>
            </p>
        </div>
    </div>

    <div class="col-md-8" style="height: 625px">
        <!-- Query script input -->
        <div style="width: 100%; height: 30%; padding: 2px 2px 2px 2px;">
            <textarea class="q_editor" placeholder="Enter query here"
                      ng-model="query.queryString"
                      ng-disabled="query.running">
            </textarea>
        </div>

        <div style="width: 100%; height: 69%">
            <!-- Query Action Bar -->
            <div class="q_action_bar">
                <div style="display: inline; float: left">
                    <img class="q_action_icon" ng-src="/assets/images/tabs/query/{{ query.running ? 'running-24.gif' : 'run-24.gif' }}" ng-click="executeQuery(query)" title="Execute the query script">
                    <img ng-show="query.modified" class="q_action_icon" src="/assets/images/tabs/query/save-24.png" ng-click="saveQuery(query)" title="Save and upload the query script">
                    <img ng-show="query.rows" class="q_action_icon" src="/assets/images/tabs/query/download-24.png" ng-click="downloadResults(query.rows)" title="Download results">
                </div>
                <div style="display: inline; float: right; vertical-align: middle">
                    <span ng-show="query.running" style="margin: 15px; vertical-align: middle">
                        <img class="middle" src="/assets/images/tabs/query/clock-16.png">
                        <span class="q_clock_text">{{ query.elapsedTime | number:0 }} sec(s)</span>
                    </span>
                    <span ng-show="query.rows" class="q_clock_text" style="margin: 15px; vertical-align: middle">
                        <a ng-click="">{{ query.topic }}</a> &#8212;
                        {{ query.rows.length | number }} result(s) in
                        <span class="positive">{{ query.runTimeMillis | number:1 }} sec(s)</span>
                    </span>
                </div>
                <br style="clear: both">
            </div>

            <!-- Query Results -->
            <div style="width: 100%; min-height: 298px; background: #eeeeee; border: 1px solid #cccccc">
                <div class="q_results_container">
                    <table class="full_width" ng-show="query.rows">
                        <thead>
                        <tr style="border-bottom: 1px solid #aaaaaa">
                            <th ng-repeat="column in query.columns">
                                <a ng-click="toggleSortField(query, column)" title="sort by {{ displayLabel(column) }}">
                                    {{ displayLabel(column) }}
                                    <img ng-show="query.sortField == column" class="middle clickable"
                                         ng-src="/assets/images/buttons/sort_{{ query.ascending ? 'up' : 'down' }}.gif">
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in query.rows" ng-class="isSelected(topic, partition, query.rows, $index) ? 'highlighted' : $index % 2 == 0 ? '' : 'q_odd'">
                            <td ng-repeat="column in query.columns">
                                <span ng-show="column == '__offset'">
                                    <a ng-click="switchToMessage(query.topic, partitionAt($parent.$index), offsetAt($parent.$index))">
                                        <span class="q_key_field">{{ row[column] }}</span>
                                    </a>
                                </span>
                                <span ng-hide="column == '__offset'">{{ row[column] }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>