<!DOCTYPE html>
<html ng-app="trifecta">
<head>
    <title>Trifecta: Dashboard</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link href="/app/lib/css/bootstrap.min.css" type="text/css" rel="stylesheet" media=screen>
    <link href="/app/lib/js/tomorrow.min.css" type="text/css" rel="stylesheet" media=screen>
    <script src="/app/lib/js/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/app/lib/js/angular.min.js" type="text/javascript"></script>
    <script src="/app/lib/js/angular-resource.min.js" type="text/javascript"></script>
    <script src="/app/lib/js/highlight.min.js" type="text/javascript"></script>
    <script src="/app/lib/js/angular-highlightjs.min.js" type="text/javascript"></script>
    <script src="/app/lib/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/app/lib/js/ui-bootstrap-tpls.min.js" type="text/javascript"></script>

    <link href="/app/css/decoders.css" type="text/css" rel="stylesheet" media=screen>
    <link href="/app/css/index.css" type="text/css" rel="stylesheet" media=screen>
    <link href="/app/css/inspect.css" type="text/css" rel="stylesheet" media=screen>
    <link href="/app/css/observe.css" type="text/css" rel="stylesheet" media=screen>
    <link href="/app/css/query.css" type="text/css" rel="stylesheet" media=screen>
    <script src="/app/js/TrifectaApp.js" type="text/javascript"></script>
    <script src="/app/js/Consumers.js" type="text/javascript"></script>
    <script src="/app/js/DashboardSvc.js" type="text/javascript"></script>
    <script src="/app/js/DashboardCtrl.js" type="text/javascript"></script>
    <script src="/app/js/DecoderCtrl.js" type="text/javascript"></script>
    <script src="/app/js/DecoderSvc.js" type="text/javascript"></script>
    <script src="/app/js/InspectCtrl.js" type="text/javascript"></script>
    <script src="/app/js/MessageSearchDialog.js" type="text/javascript"></script>
    <script src="/app/js/ObserveCtrl.js" type="text/javascript"></script>
    <script src="/app/js/QueryCtrl.js" type="text/javascript"></script>
    <script src="/app/js/QuerySvc.js" type="text/javascript"></script>
    <script src="/app/js/Topics.js" type="text/javascript"></script>
    <script src="/app/js/WebSocketsSvc.js" type="text/javascript"></script>
</head>

<body ng-controller="DashboardCtrl">
    <h2><span class="title1">Tri</span><span class="title2">fec</span><span class="title3">ta</span> <span class="version">v{{ version }}</span></h2>

    <!-- global error messages -->
    <div ng-repeat="message in gloabalMessages" style="width: 100%">
        <div ng-class="'global_' + message.type" >
            <img class="middle" ng-src="/app/images/status/{{ message.type == 'error' ? 'redlight.png' : message.type == 'info' ? 'bluelight.png' : 'yellowlight.gif' }}">
            {{ message.text }}
            <img class="clickable middle" style="float: right"
                 src="/app/images/buttons/delete.png"
                 ng-click="removeMessage($index)">
        </div>
    </div>

    <!-- application tabs -->
    <div style="border: 1px solid #cccccc">
        <tabset>
            <tab ng-repeat="tab in tabs" active="tab.active" select="changeTab($index, $event)">
                <tab-heading><img ng-class="tab.active ? 'tab_active' : 'tab_inactive'" ng-src="{{ tab.imageURL }}"> {{ tab.name }}</tab-heading>
            </tab>
        </tabset>
    </div>

    <!-- Decoders -->
    <div ng-controller="DecoderCtrl" ng-init="init()" ng-show="tab.name == 'Decoders'" class="full_block" style="height: 587px">
        <div style="display: inline; float: left; width: 30.9%; height: 100%">
            <fieldset>
                <legend>Configured Topics</legend>
                <div class="topics_container">
                    <span ng-show="!decoders.length" class="warning bold">
                        <img class="middle" src="/app/images/status/yellowlight.gif"> No topics with decoders found
                    </span>
                    <div ng-repeat="d in decoders" ng-class="d == decoder ? 'highlighted' : ''" style="padding: 0px 0px 0px 4px">
                        <img class="middle" src="/app/images/common/topic-16.png">
                        <a ng-click="selectDecoder(d)">
                            <span ng-class="d == decoder ? 'highlighted' : ''">{{ d.topic }}</span>
                        </a>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Associated Decoders</legend>
                <div class="topics_container">
                    <span ng-show="!decoder.schemas" class="warning bold">
                        <img class="middle" src="/app/images/status/yellowlight.gif"> No decoders found
                    </span>
                    <div ng-repeat="s in decoder.schemas" ng-class="s == schema ? 'highlighted' : ''">
                        <img ng-src="/app/images/tabs/decoders/{{ s.error ? 'failed-16.png' : 'js-16.png' }}" title="Avro Schema">
                        <a ng-click="selectSchema(s)">
                            <span ng-class="s == schema ? 'highlighted' : ''">{{ s.name }}</span>
                        </a>
                        <img ng-show="s.modified" src="/app/images/tabs/decoders/modified-16.gif"
                             style="float: right; margin-right: 5px">
                        <img ng-show="s.processing" src="/app/images/status/processing.gif">
                    </div>
                </div>
            </fieldset>
        </div>
        <div style="display: inline; float: right; width: 69%; height: 100%; padding: 5px 0px 5px 5px">
            <div class="d_editor_bar">
                <img ng-hide="editMode" class="d_editor_bar" ng-click="toggleEditMode()" src="/app/images/tabs/decoders/edit-20.png" title="Switch to edit mode">
                <img ng-hide="editMode" class="d_editor_bar" ng-click="reloadDecoder(decoder)" src="/app/images/tabs/decoders/reload-20.png" title="Reload this decoder">
                <img ng-show="editMode" class="d_editor_bar" ng-click="cancelEdit(schema)" src="/app/images/tabs/decoders/cancel-20.png" title="Cancel editing">
                <img ng-show="editMode" class="d_editor_bar" ng-click="saveSchema(schema, null)" src="/app/images/tabs/decoders/save-20.png" title="Save changes">
                <img ng-hide="editMode" class="d_editor_bar" ng-click="setupNewSchema(decoder)" src="/app/images/tabs/decoders/add-20.png" title="Add new decoder">
                <span ng-show="editMode" class="warning mode_label bold">Edit Mode</span>
                <span ng-hide="editMode" class="positive mode_label bold">View Mode</span>
            </div>
            <div class="new_schema_section" ng-show="schema.transitional">
                Schema Name:
                    <input ng-model="schema.name" type="text">
                    <button ng-click="saveNewSchema(schema)">Save</button>
            </div>
            <div ng-show="schema.error" class="schema_error">
                <span class="error">Compile Error:</span> {{ schema.error }}
            </div>
            <div class="message_panel">
                <textarea ng-model="schema.schemaString" ng-show="editMode" class="d_editor"
                          ng-change="schema.modified = true">{{ schema.schemaString }}</textarea>
                <div ng-if="!editMode" hljs source="toPrettyJSON(schema.schemaString, 8)"></div>
            </div>
        </div>
        <br style="clear: both">
    </div>

    <!-- Inspect -->
    <div ng-controller="InspectCtrl" ng-show="tab.name == 'Inspect'" class="full_block">
        <div style="display: inline; width: 40%; float: left">
            <fieldset style="border-radius: 5px 5px 5px 5px">
                <legend>Topics</legend>
                <div class="topics_container">
                    <div ng-repeat="t in getTopics(hideEmptyTopics)|orderBy:'topic'" ng-class="t == topic ? 'highlighted' : ''">
                        <img class="middle" ng-src="/app/images/status/{{t.totalMessages ? 'greenlight.png' : 'offlight.png'}}">
                        <img class="middle" src="/app/images/common/topic-16.png">
                        <a ng-click="updateTopic(t)">
                            <span ng-class="t == topic ? 'highlighted' : ''"> {{t.topic}}
                                <span ng-show="t.totalMessages">
                                    (<span ng-show="t.totalMessages > 0" ng-class="t == topic ? 'highlighted' : 'messages'">{{t.totalMessages | number}}</span>)
                                </span>
                            </span>
                        </a>
                    </div>
                </div>

                <div style="text-align: right; font-size: 10pt">
                    <a ng-click="hideEmptyTopics = !hideEmptyTopics">
                        <span ng-show="hideEmptyTopics">[Show empty topics]</span>
                        <span ng-show="!hideEmptyTopics">[Hide empty topics]</span>
                    </a>
                </div>
            </fieldset>

            <div class="separator">
                <fieldset style="border-radius: 5px 5px 5px 5px">
                    <legend>Messages and Offsets</legend>
                    <div class="messages_and_offsets">
                        <table style="width: 100%">
                            <tr>
                                <th>Partition</th>
                                <th>First Offset</th>
                                <th>Last Offset</th>
                                <th>Messages</th>
                            </tr>
                            <tr ng-repeat="p in topic.partitions" ng-class="p == partition ? 'highlighted' : ''">
                                <td>
                                    <a ng-click="updatePartition(p)">
                                        <span ng-class="p == partition ? 'highlighted' : ''" style="padding-left: 5px">{{p.partition}}</span>
                                    </a>
                                </td>
                                <td>
                                    <a ng-click="switchToMessage(topic.topic, p.partition, p.startOffset)">
                                        <span ng-class="p == partition ? 'highlighted' : ''">{{p.startOffset}}</span>
                                    </a>
                                </td>
                                <td>
                                    <a ng-click="switchToMessage(topic.topic, p.partition, p.endOffset)">
                                        <span ng-class="p == partition ? 'highlighted' : ''">{{p.endOffset}}</span>
                                    </a>
                                </td>
                                <td>
                                    <span ng-class="p == partition ? 'highlighted' : ''">{{p.messages | number}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
            </div>

            <div class="separator">
                <fieldset style="border-radius: 5px 5px 5px 5px">
                    <legend>Leaders and Replicas</legend>
                    <div class="leaders_and_replicas">
                        <table style="width: 100%">
                            <tr>
                                <th>Leader</th>
                                <td>{{partition.leader.host}}:{{partition.leader.port}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr ng-repeat="r in partition.replicas">
                                <th>Replica({{r.brokerId}})</th>
                                <td>{{r.host}}:{{r.port}}</td>
                                <td style="color: #008000; font-weight: bold">{{r.status}}</td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>

        <div style="display: inline; width: 59%; float: right; margin-top: 12px">
            <div style="display: block; margin-bottom: 3px">
                <div class="input_block">
                    Offset <input ng-model="partition.offset" type="text" class="input-mir" ng-change="convertOffsetToInt(partition, partition.offset)">
                    <img class="clickable middle" src="/app/images/buttons/navigation/message-first.gif" ng-click="firstMessage()" title="move to first message">
                    <img class="clickable middle" src="/app/images/buttons/navigation/message-prev.gif" ng-click="previousMessage()" title="move to previous message">
                    <img class="clickable middle" src="/app/images/buttons/navigation/message-middle.png" ng-click="medianMessage()" title="move to median message">
                    <img class="clickable middle" src="/app/images/buttons/navigation/message-next.gif" ng-click="nextMessage()" title="move to next message">
                    <img class="clickable middle" src="/app/images/buttons/navigation/message-last.gif" ng-click="lastMessage()" title="move to last message">
                </div>
                <div class="input_block">
                    <img class="clickable middle" ng-src="/app/images/{{loading ? 'status/loading.gif' : 'buttons/search.png'}}" ng-click="messageFinderPopup()" title="search for a message">
                </div>
            </div>

            <fieldset style="border-radius: 5px 5px 5px 5px">
                <div class="message_panel">
                    <div ng-show="message.type == 'json'" hljs source="toPrettyJSON(message.payload, 4)"></div>
                    <table ng-show="message.type == 'bytes'">
                        <tr ng-repeat="tuple in message.payload track by $index">
                            <td>{{ tuple[0] }}</td>
                            <td>{{ tuple[1] }}</td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </div>

        <br style="clear: both" />
    </div>

    <!-- Query -->
    <div ng-controller="QueryCtrl" ng-init="init()" ng-show="tab.name == 'Query'" class="full_block">
        <div style="display: inline; width: 25.8%; height: 587px; float: left; border-right: 1px solid #cccccc">
            <!-- Topics -->
            <fieldset>
                <legend>Topics</legend>
                <span ng-show="!topics" class="warning bold">
                    <img class="middle" src="/app/images/status/yellowlight.gif"> No topics found
                </span>
                <div class="q_topics_container">
                    <div ng-repeat="t in filterEmptyTopics(topics)|orderBy:'topic'">
                        <img class="middle" src="/app/images/common/topic-16.png"> {{ t.topic }}
                        <span ng-show="t.totalMessages">(<span class="messages">{{t.totalMessages | number}}</span>)</span>
                    </div>
                </div>
            </fieldset>

            <!-- Saved Queries -->
            <fieldset class="separator">
                <legend>Queries</legend>
                <div class="q_saved_queries_container">
                    <span ng-show="!savedQueries" class="warning bold">
                        <img src="/app/images/status/yellowlight.gif"> No saved queries
                    </span>
                    <div ng-repeat="q in savedQueries">
                        <div ng-class="q == savedQuery ? 'highlighted' : ''">
                            <img class="middle clickable"
                                 ng-show="!q.exists" src="/app/images/tabs/query/remove.gif"
                                 ng-click="deleteQuery($index)"
                                 title="Delete this query script">
                            <img ng-show="q.exists" ng-src="/app/images/tabs/query/{{ q.modified ? 'modified.png' : 'checkmark.png' }}">
                            <span class="clickable" title="{{ q.queryString }}" ng-click="selectQuery(q)">{{ q.name }}</span>

                            <img ng-show="q.loading" class="middle clickable" src="/app/images/status/loading.gif">

                            <img class="middle clickable"
                                 style="float: right; margin-right: 8px"
                                 ng-show="q.syncing" src="/app/images/status/loading.gif"
                                 ng-click="saveQuery(q)"
                                 title="Uploading to server">

                            <img class="middle clickable"
                                 style="float: right; margin-right: 8px"
                                 ng-show="!q.syncing && q.modified" src="/app/images/tabs/query/sync_query.png"
                                 ng-click="saveQuery(q)"
                                 title="Click to upload to server">
                        </div>
                    </div>
                </div>
            </fieldset>

            <!-- Saved Results -->
            <fieldset class="separator">
                <legend>Query Results</legend>
                <div class="q_saved_results_container">
                    <span ng-show="!savedQuery.results.length" class="warning bold">
                        <img src="/app/images/status/yellowlight.gif"> No results available
                    </span>
                    <div class="full_block" ng-repeat="r in savedQuery.results" ng-class="savedQuery.resultIndex == $index ? 'highlighted' : ''">
                        <img class="middle clickable" src="/app/images/tabs/query/remove.gif">
                        <a ng-click="selectQueryResults($index)">
                            <span ng-class="savedQuery.resultIndex == $index ? 'highlighted' : ''">{{ r.name }}</span>
                        </a>

                        <img class="middle clickable"
                             style="float: right; margin-right: 8px"
                             src="/app/images/tabs/query/download-16.png"
                             ng-click="downloadResults(r.results)"
                             title="Click to download result as CSV">
                    </div>
                </div>
            </fieldset>
        </div>
        <div style="display: inline; width: 74%;  height: 625px; float: right">
            <!-- Query script input -->
            <div style="width: 100%; height: 40%; padding: 2px 2px 2px 2px;">
                <textarea class="q_editor" placeholder="Enter query here"
                          ng-model="savedQuery.queryString"
                          ng-change="savedQuery.modified = true"
                          ng-disabled="{{ state.running }}">
                </textarea>
            </div>

            <div style="width: 100%; height: 59%">
                <!-- Query Action Bar -->
                <div class="q_action_bar">
                    <div style="display: inline; float: left">
                        <img class="q_action_icon" ng-src="/app/images/tabs/query/{{ state.running ? 'running.gif' : 'run.gif' }}" ng-click="executeQuery()" title="Execute the query script">
                        <img class="q_action_icon" src="/app/images/tabs/query/new.png" ng-click="addQuery()" title="Add a new query script">
                        <img class="q_action_icon" src="/app/images/tabs/query/download-24.png" ng-click="downloadResults(state.results)" title="Download results">
                     </div>
                    <div style="display: inline; float: right; vertical-align: middle">
                        <span ng-show="state.running" style="margin: 15px; vertical-align: middle">
                            <img class="middle" src="/app/images/tabs/query/clock-16.png">
                            <span class="q_clock_text">{{ queryElaspedTime | number:0 }} sec(s)</span>
                        </span>
                        <span class="q_clock_text" ng-show="state.results" style="margin: 15px; vertical-align: middle">
                            {{ state.results.values.length | number }} result(s) in
                            <span class="positive">{{ state.results.runTimeMillis | number:1 }} sec(s)</span>
                        </span>
                    </div>
                    <br style="clear: both">
                </div>

                <!-- Query Results -->
                <div style="width: 100%; min-height: 298px; background: #eeeeee; border: 1px solid #cccccc">
                    <div class="q_results_container">
                        <table style="width: 100%" ng-show="state.results">
                            <thead>
                                <tr style="border-bottom: 1px solid #aaaaaa">
                                    <th ng-repeat="label in state.mappings.labels">
                                        <a ng-click="toggleSortField(label)" title="sort by {{ label }}">
                                            {{ label }}
                                            <img ng-show="state.sortField == label" class="middle clickable"
                                                 ng-src="/app/images/buttons/sort_{{ state.ascending ? 'up' : 'down' }}.gif">
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in state.results.values" ng-class="isSelected(topic, partition, state.results, $index) ? 'highlighted' : $index % 2 == 0 ? '' : 'q_odd'">
                                    <td ng-repeat="column in state.mappings.labels">
                                        <span ng-show="$index == 0">
                                            <a ng-click="switchToMessage(state.results.topic, partitionAt($parent.$index), offsetAt($parent.$index))">
                                                <span class="q_key_field">{{ row[column] }}</span>
                                            </a>
                                        </span>
                                        <span ng-hide="$index == 0">{{ row[column] }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br style="clear: both">
    </div>

    <!-- Observe -->
    <div ng-controller="ObserveCtrl" ng-init="init()" ng-show="tab.name == 'Observe'" class="full_block" style="padding-top: 10px">
        <!-- tabs -->
        <div style="display: inline; float: left; width: 14%; height: 500px; border-right: 1px solid #cccccc; padding-right: 5px">
            <tabset vertical="true" type="pills">
                <tab ng-repeat="tab in observeTabs" active="tab.active" select="changeObserveTab($index, $event)">
                    <tab-heading><img class="links" ng-src="{{ tab.imageURL }}"> {{ tab.name }}</tab-heading>
                </tab>
            </tabset>
        </div>

        <div style="display: inline; float: right; width: 85%">
            <div class="streaming_topics_container" style="margin-right: 5px">
                <div class="full_block">

                    <!-- Consumers -->
                    <div class="block" ng-repeat="levelA in consumerMapping|orderBy:'topic'" ng-show="observeTab.name == 'Consumers'">
                        <div>
                            <a ng-click="levelA.expanded = !levelA.expanded">
                                <img class="middle" ng-src="/app/images/buttons/{{levelA.expanded ? 'collapse' : 'expand'}}.png">
                                <img class="middle" src="/app/images/common/topic-16.png">
                                <span>{{levelA.topic}}</span>
                                <img ng-show="levelA.loading" src="/app/images/status/processing.gif">
                            </a>
                        </div>
                        <div ng-show="levelA.expanded" ng-repeat="levelB in levelA.consumers" style="margin-left: 32px">
                            <a ng-click="levelB.expanded = !levelB.expanded">
                                <img class="middle" ng-src="/app/images/buttons/{{levelB.expanded ? 'collapse' : 'expand'}}.png">
                                <img class="middle" src="/app/images/common/consumers-16.png">
                                <span>{{levelB.consumerId}}</span>
                                <img src="/app/images/status/processing.gif" ng-show="levelB.expanded && isConsumerUpToDate(levelB)">
                            </a>

                            <div ng-show="levelB.expanded" style="margin-left: 32px">
                                <table>
                                    <tr>
                                        <th>Partition</th>
                                        <th>Topic Offset</th>
                                        <th>Consumer Offset</th>
                                        <th>Remaining</th>
                                        <th>Last Updated</th>
                                    </tr>

                                    <tr ng-repeat="levelC in levelB.details | orderBy:'partition'">
                                        <td>{{ levelC.partition }}</td>
                                        <td>
                                            <a ng-click="switchToMessage(levelC.topic, levelC.partition, levelC.topicOffset)">
                                                {{ levelC.topicOffset }}
                                            </a>
                                        </td>
                                        <td>
                                            <a ng-click="switchToMessage(levelC.topic, levelC.partition, levelC.offset)">
                                                {{ levelC.offset }}
                                            </a>
                                        </td>
                                        <td>{{ levelC.messagesLeft | number }}</td>
                                        <td>{{ levelC.lastModified | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Topics -->
                    <div class="block" ng-repeat="t in getTopics(true)|orderBy:'topic'" ng-show="observeTab.name == 'Topics'">
                        <a ng-click="t.expanded = !t.expanded">
                            <img class="middle" ng-src="/app/images/buttons/{{t.expanded ? 'collapse.png' : 'expand.png'}}">
                            <img class="middle" src="/app/images/common/topic-16.png"> {{ t.topic }}
                             <span ng-show="t.totalMessages > 0">
                                (<span ng-show="t.totalMessages > 0" class="messages">{{t.totalMessages | number}}</span>)
                             </span>
                        </a>
                        <div ng-show="t.expanded" style="width: 100%; margin-left: 32px">
                            <table>
                                <tr>
                                    <th>Partition</th>
                                    <th>First Offset</th>
                                    <th>Last Offset</th>
                                    <th>Messages</th>
                                </tr>

                                <tr ng-repeat="p in t.partitions | orderBy:'partition'">
                                    <td>{{ p.partition }}  <img src="/app/images/status/loading.gif" ng-show="p.loading"></td>
                                    <td>
                                        <a ng-click="switchToMessage(t.topic, p.partition, p.startOffset)">
                                            {{ p.startOffset }}
                                        </a>
                                    </td>
                                    <td>
                                        <a ng-click="switchToMessage(t.topic, p.partition, p.endOffset)">
                                            {{ p.endOffset }}
                                        </a>
                                    </td>
                                    <td>{{ p.messages | number }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <!-- Zookeeper -->
                    <div class="block" style="margin-left: 5px" ng-show="observeTab.name == 'Zookeeper'">
                        <div style="display: inline; width: 40.9%; float: left; border-right: 1px solid #cccccc" class="zk_item_container">
                            <div ng-repeat="item in zkItems" ng-include="'zk_item_tree.htm'"></div>
                        </div>
                        <div style="display: inline; width: 59%; float: right">
                            <div style="width: 100%; margin-left: 5px">
                                <table ng-show="zkItem" style="border-collapse: separate; border-spacing: 4px;">
                                    <tr>
                                        <th>Path:</th>
                                        <td>{{ zkItem.path }}</td>
                                    </tr>
                                    <tr>
                                        <th>Created:</th>
                                        <td>{{ zkItem.creationTime | date:'MM-dd-yyyy hh:mm:ss' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Last Modified:</th>
                                        <td>{{ zkItem.lastModified | date:'MM-dd-yyyy hh:mm:ss' }}</td>
                                    </tr>
                                    <tr ng-show="zkItem.size">
                                        <th>Size (in bytes):</th>
                                        <td>{{ zkItem.size | number }}</td>
                                    </tr>
                                </table>

                                <div ng-show="zkItem.data" style="margin-top: 20px">
                                    <span style="font-weight: bold">Data Format:</span>
                                    <select ng-model="selected.format" ng-options="format for format in formats"
                                            ng-change="formatData(zkItem.path, selected.format)">
                                    </select>

                                    <table style="width: 100%" ng-if="zkItem.data.type == 'binary'">
                                        <tr ng-repeat="tuple in zkItem.data.value track by $index">
                                            <td style="background: #cceeff; border: 1px solid #cccccc">{{ tuple[0] }}</td>
                                            <td style="background: #ffff88; border: 1px solid #cccccc">{{ tuple[1] }}</td>
                                        </tr>
                                    </table>

                                    <div ng-if="zkItem.data.type == 'json'" hljs source="toPrettyJSON(zkItem.data.value, 4)"></div>
                                    <div ng-if="zkItem.data.type == 'plain-text'">{{ zkItem.data.value }}</div>
                                </div>
                            </div>
                        </div>
                        <br style="clear: both">
                    </div>
                </div>
            </div>
        </div>

        <br style="clear: both">
    </div>

    <!-- Message Search: Find Dialog -->
    <script type="text/ng-template" id="message_search_finder.htm">
        <div class="modal-header">
            <h4>Find Message</h4>
        </div>
        <div class="modal-body">
            <div class="full_block" style="margin: 10px">
                <div class="full_block">
                    <span style="font-weight: bold">Topic: </span>
                    <select ng-model="form.topic" ng-options="t.topic for t in getTopics(false)">
                    </select> <span ng-show="form.topic != null"> &#8212; <span ng-class="form.topic.totalMessages == 0 ? 'negative' : 'positive'">{{ form.topic.totalMessages | number }} message(s)</span></span>
                </div>

                <div class="full_block" style="margin-top: 10px">
                    <span style="font-weight: bold">Criteria</span> <span>(e.g. symbol == "AAPL")</span>
                    <div>
                        <textarea ng-model="form.criteria" rows="4" cols="80" title="Enter query criteria here"></textarea>
                    </div>
                </div>

                <div class="full_block">
                    <button style="margin-top: 10px" ng-click="ok()">Search</button>
                    <button style="float: right; margin-top: 10px" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </script>

    <!-- Message Search: Loading Dialog -->
    <script type="text/ng-template" id="message_search_loading.htm">
        <div class="modal-body">
            <div class="full_block">
                <progressbar class="progress-striped active" max="100" value="100" type="success"><i>Searching...</i></progressbar>
            </div>
        </div>
    </script>

    <!-- Saved Query Dialog -->
    <script type="text/ng-template" id="saved_query.htm">
        <div class="modal-header">
            <h4>Saved Query</h4>
        </div>
        <div class="modal-body">
            <div class="full_block" style="margin-bottom: 5px">
                Query Name: <input type="text" ng-model="queryName">
            </div>
            <textarea ng-model="comments" rows="10" cols="80" placeholder="Enter comments here"></textarea>

            <div class="full_block">
                <button style="margin-top: 10px" ng-click="ok()">Save</button>
                <button style="float: right; margin-top: 10px" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </script>

    <!-- Zookeeper Item Tree -->
    <script type="text/ng-template" id="zk_item_tree.htm">
        <img ng-src="/app/images/{{ item.loading ? 'status/loading.gif' : (item.expanded ? 'buttons/collapse.png' : 'buttons/expand.png') }}"
             ng-click="expandItem(item)"
             class="clickable">
        <img ng-show="item.path == '/'" class="middle" src="/app/images/tabs/observe/root.png">
        <a ng-click="getItemInfo(item)">
            <span ng-show="zkItem.path == item.path" style="background: #ffff00; font-weight: bold">{{ item.name }}</span>
            <span ng-show="zkItem.path != item.path">{{ item.name }}</span>
        </a>

        <div style="margin-left: 20px" ng-show="item.expanded">
            <div ng-repeat="item in item.children" ng-include="'zk_item_tree.htm'"></div>
        </div>
    </script>

</body>
</html>
