<!DOCTYPE html>
<html ng-app="trifecta">
<head>
    <title>Trifecta: Dashboard</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link href="/app/lib/css/bootstrap.min.css" type="text/css" rel="stylesheet" media=screen>
    <link href="/app/lib/js/tomorrow.min.css" type="text/css" rel="stylesheet" media=screen>
    <script src="/app/lib/js/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/app/lib/js/angular.min.js" type="text/javascript"></script>
    <script src="/app/lib/js/angular-resource.min.js" type="text/javascript"></script>
    <script src="/app/lib/js/highlight.min.js" type="text/javascript"></script>
    <script src="/app/lib/js/angular-highlightjs.min.js" type="text/javascript"></script>
    <script src="/app/lib/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/app/lib/js/ui-bootstrap-tpls.min.js" type="text/javascript"></script>

    <link href="/app/css/index.css" type="text/css" rel="stylesheet" media=screen>
    <link href="/app/css/queries.css" type="text/css" rel="stylesheet" media=screen>
    <script src="/app/js/app.js" type="text/javascript"></script>
    <script src="/app/js/DashboardSvc.js" type="text/javascript"></script>
    <script src="/app/js/DashboardCtrl.js" type="text/javascript"></script>
    <script src="/app/js/DecoderMgmtDialog.js" type="text/javascript"></script>
    <script src="/app/js/MessageSearchDialog.js" type="text/javascript"></script>
    <script src="/app/js/QueriesCtrl.js" type="text/javascript"></script>
    <script src="/app/js/TopicSvc.js" type="text/javascript"></script>
</head>

<body ng-controller="DashboardCtrl" ng-init="initReferenceData()">
    <h2><span class="title1">Tri</span><span class="title2">fec</span><span class="title3">ta</span> <span class="version">v{{ version }}</span></h2>

    <!-- application tabs -->
    <div style="border: 1px solid #cccccc">
        <tabset>
            <tab ng-repeat="tab in tabs" active="tab.active" select="changeTab($index, $event)">
                <tab-heading><img class="links" ng-src="{{ tab.imageURL }}"> {{ tab.name }}</tab-heading>
            </tab>
        </tabset>
    </div>

    <!-- Inspect -->
    <div ng-show="tab.name == 'Inspect'" style="display: block; width: 100%">
        <div style="display: inline; width: 40%; float: left">
            <fieldset style="border-radius: 5px 5px 5px 5px">
                <legend>Topics</legend>
                <div class="topics_container">
                    <table style="width: 100%">
                        <tr ng-repeat="t in getTopics(hideEmptyTopics)" ng-class="t == topic ? 'highlighted' : ''">
                            <td style="width: 16px; height: 16px">
                                <img class="middle" ng-src="/app/images/status/{{t.totalMessages ? 'greenlight.png' : 'offlight.png'}}">
                            </td>
                            <td>
                                <a ng-click="updateTopic(t)">
                                    <span ng-class="t == topic ? 'highlighted' : ''">
                                        {{t.topic}}
                                        <span ng-show="t.totalMessages">
                                            (<span ng-show="t.totalMessages > 0" ng-class="t == topic ? 'highlighted' : 'messages'">{{t.totalMessages | number}}</span>)
                                        </span>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>

                <div style="text-align: right; font-size: 10pt">
                    <a ng-click="hideEmptyTopics = !hideEmptyTopics">
                        <span ng-show="hideEmptyTopics">[Show empty topics]</span>
                        <span ng-show="!hideEmptyTopics">[Hide empty topics]</span>
                    </a>
                </div>
            </fieldset>

            <div class="separator">
                <fieldset style="height: 160px; border-radius: 5px 5px 5px 5px">
                    <legend>Messages and Offsets</legend>
                    <div class="messages_and_offsets">
                        <table style="width: 100%">
                            <tr>
                                <th>Partition</th>
                                <th>First Offset</th>
                                <th>Last Offset</th>
                                <th>Messages</th>
                            </tr>
                            <tr ng-repeat="p in topic.partitions" ng-class="p == partition ? 'highlighted' : ''">
                                <td>
                                    <a ng-click="updatePartition(p)">
                                        <span ng-class="p == partition ? 'highlighted' : ''" style="padding-left: 5px">{{p.partition}}</span>
                                    </a>
                                </td>
                                <td>
                                    <a ng-click="updatePartition(p)">
                                        <span ng-class="p == partition ? 'highlighted' : ''">{{p.startOffset}}</span>
                                    </a>
                                </td>
                                <td>
                                    <a ng-click="updatePartition(p)">
                                        <span ng-class="p == partition ? 'highlighted' : ''">{{p.endOffset}}</span>
                                    </a>
                                </td>
                                <td>
                                    <a ng-click="updatePartition(p)">
                                        <span ng-class="p == partition ? 'highlighted' : ''">{{p.messages | number}}</span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
            </div>

            <div class="separator">
                <fieldset style="height: 160px; border-radius: 5px 5px 5px 5px">
                    <legend>Leaders and Replicas</legend>
                    <div class="leaders_and_replicas">
                        <table style="width: 100%">
                            <tr>
                                <th>Leader</th>
                                <td>{{partition.leader.host}}:{{partition.leader.port}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr ng-repeat="r in partition.replicas">
                                <th>Replica({{r.brokerId}})</th>
                                <td>{{r.host}}:{{r.port}}</td>
                                <td style="color: #008000; font-weight: bold">{{r.status}}</td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
            </div>
        </div>

        <div style="display: inline; width: 59%; float: right; margin-top: 12px">
            <div style="display: block; margin-bottom: 3px">
                <div class="input_block">
                    Offset <input ng-model="partition.offset" type="text" class="input-mir">
                    <img class="clickable middle" src="/app/images/buttons/navigation/message-first.gif" ng-click="firstMessage()" title="move to first message">
                    <img class="clickable middle" src="/app/images/buttons/navigation/message-prev.gif" ng-click="previousMessage()" title="move to previous message">
                    <img class="clickable middle" src="/app/images/buttons/navigation/message-next.gif" ng-click="nextMessage()" title="move to next message">
                    <img class="clickable middle" src="/app/images/buttons/navigation/message-last.gif" ng-click="lastMessage()" title="move to last message">
                </div>
                <div class="input_block">
                    <img class="clickable middle" ng-src="/app/images/{{loading ? 'status/loading.gif' : 'buttons/search.png'}}" ng-click="messageFinderPopup()" title="search for a message">
                </div>
            </div>

            <fieldset style="border-radius: 5px 5px 5px 5px">
                <div class="message_panel">
                    <div ng-show="message.type == 'json'" hljs source="toPrettyJSON(message.payload, 4)"></div>
                    <table ng-show="message.type == 'bytes'">
                        <tr ng-repeat="tuple in message.payload track by $index">
                            <td>{{ tuple[0] }}</td>
                            <td>{{ tuple[1] }}</td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </div>

        <br style="clear: both" />
    </div>

    <!-- Query -->
    <div ng-show="tab.name == 'Query'" style="display: block; width: 100%">
        <div style="display: inline; width: 20.8%; height: 587px; float: left; border-right: 1px solid #cccccc">
            <!-- Topics -->
            <fieldset>
                <legend>Topics</legend>
                <span ng-show="!topics" style="color: #ddaa00; font-weight: bold">
                    <img class="middle" src="/app/images/status/yellowlight.gif"> No topics found
                </span>
                <div class="q_nav_container">
                    <div ng-repeat="t in topics">
                        <img class="middle" ng-src="/app/images/status/{{ t.totalMessages ? 'greenlight.png' : 'offlight.png' }}"> {{ t.topic }}
                        <span ng-show="t.totalMessages">(<span class="messages">{{t.totalMessages | number}}</span>)</span>
                    </div>
                </div>
            </fieldset>

            <!-- Favorites -->
            <fieldset class="separator">
                <legend>Favorites</legend>
                <span ng-show="!favorites" style="color: #ddaa00; font-weight: bold">
                    <img src="/app/images/status/yellowlight.gif"> No favorites
                </span>
                <div class="q_nav_container">
                </div>
            </fieldset>

            <!-- Running Queries -->
            <fieldset class="separator">
                <legend>Running Queries</legend>
                <span ng-show="!jobs" style="color: #ddaa00; font-weight: bold">
                    <img src="/app/images/status/yellowlight.gif"> No running queries
                </span>
                <div class="q_nav_container">
                </div>
            </fieldset>
        </div>
        <div ng-controller="QueriesCtrl" style="display: inline; width: 79%;  height: 625px; float: right">
            <div style="width: 100%; height: 40%; padding: 2px 2px 2px 2px;">
                <textarea ng-model="queryString" class="q_editor" placeholder="Enter query here" ng-disabled="{{ running }}">
                </textarea>
            </div>
            <div style="width: 100%; height: 59%">
                <div class="q_action_bar">
                    <div style="display: inline; float: left">
                        <img class="q_action_icon" ng-src="/app/images/{{ running ? 'status/loading24' : 'buttons/run' }}.gif" ng-click="executeQuery()" title="Execute query">
                        <img class="q_action_icon" src="/app/images/buttons/favorites_add24.png" ng-click="addToFavorites()" title="Add query to Favorites">
                        <img class="q_action_icon" src="/app/images/buttons/download.png" ng-click="downloadResults()" title="Download results">
                     </div>
                    <div style="display: inline; float: right">
                        <span ng-show="results" style="margin: 15px; vertical-align: middle">
                            {{ results.values.length | number }} result(s) in
                            <span class="positive">{{ results.runTimeMillis | number:2 }} msecs</span>
                        </span>
                    </div>
                    <br style="clear: both">
                </div>
                <div style="width: 100%; min-height: 298px; background: #eeeeee; border: 1px solid #cccccc">
                    <span class="error" ng-show="errorMessage">
                        <img class="middle" src="/app/images/status/redlight.png"> {{ errorMessage }}
                    </span>
                    <div class="q_results_container">
                        <table style="width: 100%" ng-show="results">
                            <thead>
                                <tr style="border-bottom: 1px solid #aaaaaa">
                                    <th ng-repeat="label in mappings.labels">
                                        <a ng-click="toggleSortField(label)" title="sort by {{ label }}">
                                            {{ label }}
                                            <img ng-show="sortField == label" class="middle clickable"
                                                 ng-src="/app/images/buttons/sort_{{ ascending ? 'up' : 'down' }}.gif">
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in results.values" ng-class-even="'q_even'" ng-class-odd="'q_odd'">
                                    <td ng-repeat="column in mappings.labels">
                                        <span ng-show="$index == 0">
                                            <a ng-click="switchToMessage(results.topic, partitionAt($parent.$index), offsetAt($parent.$index))">
                                                <span style="color: #aa00aa">{{ row[column] }}</span>
                                            </a>
                                        </span>
                                        <span ng-hide="$index == 0">{{ row[column] }}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br style="clear: both">
    </div>

    <!-- Observe -->
    <div ng-show="tab.name == 'Observe'" style="display: block; width: 100%">
        <fieldset>
            <legend>Real-time Topics and Consumers</legend>

            <!-- tabs -->
            <div style="display: inline; float: left; width: 14%; height: 500px; border-right: 1px solid #cccccc; margin-right: 5px">
                <tabset vertical="true" type="pills">
                    <tab ng-repeat="tab in realTimeTabs" active="tab.active" select="changeRealTimeView($index, $event)">
                        <tab-heading><img class="links" ng-src="{{ tab.imageURL }}"> {{ tab.name }}</tab-heading>
                    </tab>
                </tabset>
            </div>

            <div style="display: inline; float: right; width: 85%">
                <div class="streaming_topics_container">
                    <div class="full_block">

                        <!-- Consumers -->
                        <div class="block" ng-repeat="levelA in consumerMapping" ng-show="realTimeTab.name == 'Consumers'">
                            <div>
                                <a ng-click="levelA.collapsed = !levelA.collapsed">
                                    <img class="middle" ng-src="/app/images/buttons/{{!levelA.collapsed ? 'collapse.png' : 'expand.png'}}">
                                    <span>{{levelA.topic}}</span>
                                    <img ng-show="levelA.loading" src="/app/images/status/processing.gif">
                                </a>
                            </div>
                            <div ng-show="!levelA.collapsed" ng-repeat="levelB in levelA.consumers" style="margin-left: 32px">
                                <a ng-click="levelB.collapsed = !levelB.collapsed">
                                    <img class="middle" ng-src="/app/images/buttons/{{!levelB.collapsed ? 'collapse.png' : 'expand.png'}}">
                                    <span>{{levelB.consumerId}}</span>
                                </a>

                                <div ng-show="!levelB.collapsed" style="margin-left: 32px">
                                    <table style="width: 60%">
                                        <tr>
                                            <th>Partition</th>
                                            <th>Topic Offset</th>
                                            <th>Consumer Offset</th>
                                            <th>Remaining</th>
                                            <th>Last Modified</th>
                                        </tr>

                                        <tr ng-repeat="levelC in levelB.details | orderBy:'partition'">
                                            <td>{{ levelC.partition }}</td>
                                            <td>{{ levelC.topicOffset }}</td>
                                            <td>{{ levelC.offset }}</td>
                                            <td>{{ levelC.messagesLeft | number }}</td>
                                            <td>{{ levelC.lastModified | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Topics -->
                        <div class="block" ng-repeat="t in getTopics(true)" ng-show="realTimeTab.name == 'Topics'">
                            <a ng-click="t.expanded = !t.expanded">
                                <img class="middle" ng-src="/app/images/buttons/{{t.expanded ? 'collapse.png' : 'expand.png'}}"> {{ t.topic }}
                                 <span ng-show="t.totalMessages > 0">
                                    (<span ng-show="t.totalMessages > 0" class="messages">{{t.totalMessages | number}}</span>)
                                 </span>
                            </a>
                            <div ng-show="t.expanded" style="margin-left: 32px">
                                <table style="width: 60%">
                                    <tr>
                                        <th>Partition</th>
                                        <th>First Offset</th>
                                        <th>Last Offset</th>
                                        <th>Messages</th>
                                    </tr>

                                    <tr ng-repeat="p in t.partitions | orderBy:'partition'">
                                        <td>{{ p.partition }}</td>
                                        <td>{{ p.startOffset }}</td>
                                        <td>{{ p.endOffset }}</td>
                                        <td>{{ p.messages | number }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br style="clear: both">
        </fieldset>
    </div>

    <!-- Decoder Management Dialog -->
    <script type="text/ng-template" id="decoder_mgmt.htm">
        <div class="modal-header">
            <h4>Create Avro Decoder</h4>
        </div>
        <div class="modal-body">
            <div class="full_block" style="margin-bottom: 5px">
                Decoder Name: <input type="text" ng-model="decoderName">
            </div>
            <textarea ng-model="schema" rows="10" cols="80" placeholder="Copy/paste the Avro Schema here"></textarea>

            <div class="full_block">
                <button style="margin-top: 10px" ng-click="ok()">Accept</button>
                <button style="float: right; margin-top: 10px" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </script>

    <!-- Message Search: Find Dialog -->
    <script type="text/ng-template" id="message_search_finder.htm">
        <div class="modal-header">
            <h4>Find Message</h4>
        </div>
        <div class="modal-body">
            <div class="full_block" style="margin: 10px">
                <div class="full_block">
                    <span style="font-weight: bold">Topic: </span>
                    <select ng-model="form.topic" ng-options="t.topic for t in getTopics(false)">
                    </select> <span ng-show="form.topic != null"> &#8212; <span ng-class="form.topic.totalMessages == 0 ? 'negative' : 'positive'">{{ form.topic.totalMessages | number }} message(s)</span></span>
                </div>

                <div class="full_block" style="margin-top: 10px">
                    <span style="font-weight: bold">Criteria</span> <span>(e.g. symbol == "AAPL")</span>
                    <div>
                        <textarea ng-model="form.criteria" rows="4" cols="80" title="Enter query criteria here"></textarea>
                    </div>
                </div>

                <div class="full_block">
                    <button style="margin-top: 10px" ng-click="ok()">Search</button>
                    <button style="float: right; margin-top: 10px" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </script>

    <!-- Message Search: Loading Dialog -->
    <script type="text/ng-template" id="message_search_loading.htm">
        <div class="modal-body">
            <div class="full_block">
                <progressbar class="progress-striped active" max="100" value="100" type="success"><i>Searching...</i></progressbar>
            </div>
        </div>
    </script>

</body>
</html>
