<div ng-controller="DecoderCtrl" ng-init="reloadDecoders()" class="full_block" style="height: 587px">
    <div style="display: inline; float: left; width: 30.9%; height: 100%">
        <fieldset>
            <legend>Configured Topics</legend>
            <div class="topics_container">
                    <span ng-show="!decoders.length" class="warning bold">
                        <img class="middle" src="/app/images/status/yellowlight.gif"> No topics with decoders found
                    </span>
                <div ng-repeat="d in decoders" ng-class="d == decoder ? 'highlighted' : ''" style="padding: 0 0 0 4px">
                    <img class="middle" src="/app/images/common/topic-16.png">
                    <a ng-click="selectDecoder(d)">
                        <span ng-class="d == decoder ? 'highlighted' : ''">{{ d.topic }}</span>
                    </a>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Associated Decoders</legend>
            <div class="topics_container">
                    <span ng-show="!decoder.schemas" class="warning bold">
                        <img class="middle" src="/app/images/status/yellowlight.gif"> No decoders found
                    </span>
                <div ng-repeat="s in decoder.schemas" ng-class="s == schema ? 'highlighted' : ''">
                    <img ng-src="/app/images/tabs/decoders/{{ s.error ? 'failed-16.png' : 'js-16.png' }}" title="Avro Schema">
                    <a ng-click="selectSchema(s)">
                        <span ng-class="s == schema ? 'highlighted' : ''">{{ s.name }}</span>
                    </a>
                    <img ng-show="s.modified" src="/app/images/tabs/decoders/modified-16.gif"
                         style="float: right; margin-right: 5px">
                    <img ng-show="s.processing" src="/app/images/status/processing.gif">
                </div>
            </div>
        </fieldset>
    </div>
    <div style="display: inline; float: right; width: 69%; height: 100%; padding: 5px 0 5px 5px">
        <div class="d_editor_bar">
            <span ng-hide="schema.newSchema">
                <img ng-hide="schema.editMode" class="d_editor_bar" ng-click="toggleEditMode(schema)" src="/app/images/tabs/decoders/edit-20.png" title="Edit this schema">
                <img ng-show="schema.editMode" class="d_editor_bar" ng-click="cancelEdit(schema)" src="/app/images/tabs/decoders/cancel-20.png" title="Cancel editing">
                <img ng-show="schema.editMode" class="d_editor_bar" ng-click="saveSchema(schema)" src="/app/images/tabs/decoders/save-20.png" title="Save schema changes">
                <img ng-hide="schema.editMode" class="d_editor_bar" ng-click="setupNewSchema(decoder)" src="/app/images/tabs/decoders/add-20.png" title="Add a new schema">
                <img ng-hide="schema.editMode" class="d_editor_bar" ng-click="downloadSchema(decoder, schema)" src="/app/images/tabs/decoders/download-20.png" title="Download the schema">
            </span>
            <span ng-show="schema.editMode" class="warning mode_label bold">Edit Mode</span>
            <span ng-hide="schema.editMode" class="positive mode_label bold">View Mode</span>
        </div>
        <div class="new_schema_section" ng-show="schema.newSchema">
            <b>Avro Schema Name</b>
            <input class="d_schema_name_field" ng-model="schema.name" type="text">
            <button class="d_save_button" ng-click="saveNewSchema(decoder, schema)">Save & Upload</button>
            <button class="d_cancel_button" ng-click="cancelNewSchema(decoder, schema)">Cancel</button>
        </div>
        <div ng-show="schema.error" class="schema_error">
            <span class="error">Compile Error:</span> {{ schema.error }}
        </div>
        <div class="message_panel">
            <textarea ng-model="schema.schemaString" ng-show="schema.editMode" class="d_editor"
                      ng-change="schema.modified = true"
                      placeholder="Copy and paste Avro schema here">{{ schema.schemaString }}</textarea>
            <div ng-if="!schema.editMode" hljs source="toPrettyJSON(schema.schemaString, 8)"></div>
        </div>
    </div>
    <br style="clear: both">
</div>