<div ng-controller="DecoderCtrl" ng-init="reloadDecoders()" class="full_block" style="height: 587px">
    <div style="display: inline; float: left; width: 30.9%; height: 100%">
        <fieldset style="border-bottom: 1px solid #cccccc">
            <legend>Configured Topics</legend>
            <div class="d_topics_container">
                <span ng-show="!decoders.length" class="warning bold">
                    <img src="/app/images/status/yellowlight.gif"> No topics with decoders found
                </span>
                <div ng-repeat="d in decoders">
                    <img class="clickable"
                         ng-click="d.expanded = !d.expanded"
                         ng-src="/app/images/buttons/{{ d.expanded ? 'collapse.png' : 'expand.png' }}">
                    <img ng-src="/app/images/common/{{ decoder == d ? 'topic_selected-16.png' : 'topic-16.png' }}">
                    <a ng-click="selectDecoder(d)">{{ d.topic }}</a>

                    <div ng-show="d.expanded" style="margin-left: 32px" ng-repeat="s in d.schemas">
                        <img ng-src="/app/images/tabs/decoders/{{ s.error ? 'failed-16.png' : 'js-16.png' }}" title="Avro Schema">
                        <a ng-click="selectSchema(s)">
                            <span ng-class="s == schema ? 'highlighted' : ''">{{ s.name }}</span>
                        </a>
                        <img ng-show="s.modified" src="/app/images/tabs/decoders/modified-16.gif">
                        <img ng-show="s.processing" src="/app/images/status/processing.gif">
                    </div>
                </div>
            </div>
        </fieldset>

        <div>
            <p><img src="/app/images/common/help-16.png" style="padding: 2px"> Above are the topics that have decoders
                associated with them (e.g. <a href="http://avro.apache.org" target="avro_window">Avro</a>).
                These decoders allow the binary data of messages to be transformed into more human readable formats.</p>

            <p>Additionally, when multiple decoders are associated to a topic, each decoder is tested sequentially
                (starting with the most recently modified) until a decoder is found that successfully decodes the
                message.</p>
        </div>
    </div>
    <div style="display: inline; float: right; width: 69%; height: 100%; padding: 5px 0 5px 5px">
        <div class="d_editor_bar">
            <span ng-hide="schema.newSchema">
                <img ng-hide="schema.editMode" class="d_editor_bar" ng-click="toggleEditMode(schema)" src="/app/images/tabs/decoders/edit-20.png" title="Edit this schema">
                <img ng-show="schema.editMode" class="d_editor_bar" ng-click="cancelEdit(schema)" src="/app/images/tabs/decoders/cancel-20.png" title="Cancel editing">
                <img ng-show="schema.editMode" class="d_editor_bar" ng-click="saveSchema(schema)" src="/app/images/tabs/decoders/save-20.png" title="Save schema changes">
                <img ng-hide="schema.editMode" class="d_editor_bar" ng-click="setupNewSchema(decoder)" src="/app/images/tabs/decoders/add-20.png" title="Add a new schema">
                <img ng-hide="schema.editMode" class="d_editor_bar" ng-click="downloadSchema(decoder, schema)" src="/app/images/tabs/decoders/download-20.png" title="Download the schema">
            </span>
            <span ng-show="schema.editMode" class="warning mode_label bold">Edit Mode</span>
            <span ng-hide="schema.editMode" class="positive mode_label bold">View Mode</span>
        </div>
        <div class="new_schema_section" ng-show="schema.newSchema">
            <div>
                <span class="d_label">Associated Topic</span>
                <select ng-model="schema.topic" ng-options="t for t in getTopicNames(false)"></select>
            </div>
            <div>
                <span class="d_label">Decoder Name</span>
                <input class="d_schema_name_field" ng-model="schema.name" type="text">
                <button class="d_save_button" ng-click="saveNewSchema(decoder, schema)">Save & Upload</button>
            </div>
            <div>
                <button class="d_cancel_button" ng-click="cancelNewSchema(decoder, schema)">Cancel</button>
            </div>
        </div>
        <div ng-show="schema.error" class="schema_error">
            <span class="error">Compile Error:</span> {{ schema.error }}
        </div>
        <div class="message_panel">
            <textarea ng-model="schema.schemaString" ng-show="schema.editMode" class="d_editor"
                      ng-change="schema.modified = true"
                      placeholder="Copy and paste Avro schema here">{{ schema.schemaString }}</textarea>
            <div ng-if="!schema.editMode" hljs source="toPrettyJSON(schema.schemaString, 8)"></div>
        </div>
    </div>
    <br style="clear: both">
</div>