<div ng-controller="QueryCtrl" ng-init="loadQueries()" class="full_block">
    <div style="display: inline; width: 29.8%; height: 587px; float: left; border-right: 1px solid #cccccc">
        <!-- Topic Queries -->
        <fieldset>
            <legend>Queries by Topic</legend>
                <span ng-show="!topics" class="warning bold">
                    <img class="middle" src="/app/images/status/yellowlight.gif"> No topics found
                </span>
            <div class="q_topics_container">
                <div ng-repeat="t in getTopics(hideEmptyTopics)">
                    <img class="clickable"
                         ng-click="expandTopicQueries(t)"
                         ng-src="/app/images/{{ t.loading ? 'status/loading.gif' : t.queriesExpanded ? 'buttons/collapse.png' : 'buttons/expand.png' }}">
                    <img ng-src="{{ getTopicIcon(t, topic == t) }}"> {{ t.topic }}
                    <span ng-show="t.totalMessages">(<span class="messages">{{t.totalMessages | number}}</span>)</span>

                    <div ng-show="t.queriesExpanded" style="margin-left: 32px">
                        <div style="margin-left: 20px">
                            <img src="/app/images/tabs/query/add_query-16.png">
                            <span class="q_new_query" ng-click="setUpNewQueryDocument(t)">[new query]</span>
                        </div>
                        <div ng-repeat="q in t.savedQueries">
                            <div ng-class="'full_block ' + (q == savedQuery ? 'q_highlighted' : '')">
                                <img ng-hide="q.results" src="/app/images/status/transparent-16.png">
                                <img ng-show="q.results" class="clickable" ng-click="q.collapsed = !q.collapsed" ng-src="/app/images/buttons/{{ !q.collapsed ? 'collapse.png' : 'expand.png' }}">
                                <img ng-src="/app/images/tabs/query/{{ q.modified ? 'modified.png' : 'query-16.png' }}">
                                <span class="clickable" ng-click="selectQuery(q)">{{ q.name }}</span>
                                <img ng-show="q.loading" src="/app/images/status/processing.gif">
                            </div>

                            <div ng-show="!q.collapsed" style="margin-left: 32px" ng-repeat="r in q.results" ng-class="'full_block ' + (q == savedQuery && q.resultIndex == $index ? 'q_highlighted' : '')">
                                <img class="clickable" src="/app/images/tabs/query/remove-16.gif">
                                <span class="clickable" ng-click="selectQueryResults(q, $index)">{{ r.name }}</span>
                                <img class="clickable"
                                     src="/app/images/tabs/query/download-16.png"
                                     ng-click="downloadResults(r.results)"
                                     title="Click to download result as CSV">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: right; font-size: 10pt">
                <a ng-click="hideEmptyTopics = !hideEmptyTopics">
                    <span ng-show="hideEmptyTopics">[Show empty topics]</span>
                    <span ng-show="!hideEmptyTopics">[Hide empty topics]</span>
                </a>
            </div>
        </fieldset>

        <!-- Helpful hints -->
        <div style="border-bottom: 1px solid #cccccc; margin-top: 15px; padding-left: 4px">
            <p><img src="/app/images/common/help-16.png"> This view allows users to:
                <ul>
                    <li>Create queries (associating them to topics)</li>
                    <li>Upload queries to the server (located in $HOME/.trifecta/queries)</li>
                    <li>Execute queries and manage the results</li>
                </ul>
            </p>
        </div>
    </div>
    <div style="display: inline; width: 70%;  height: 625px; float: right">
        <!-- new query script setup -->
        <div class="new_schema_section" ng-show="savedQuery.newFile">
            <div>
                <span class="d_label">File Name</span>
                <input class="d_schema_name_field" ng-model="savedQuery.name" type="text">
                <button class="d_save_button" ng-click="saveQuery(savedQuery)">Save & Upload</button>
                <button class="d_cancel_button" ng-click="cancelNewQuery(savedQuery)">Cancel</button>
            </div>
        </div>

        <!-- Query script input -->
        <div style="width: 100%; height: 40%; padding: 2px 2px 2px 2px;">
            <textarea class="q_editor" placeholder="Enter query here"
                      ng-model="savedQuery.queryString"
                      ng-change="savedQuery.modified = true"
                      ng-disabled="{{ state.running }}">
            </textarea>
        </div>

        <div style="width: 100%; height: 59%">
            <!-- Query Action Bar -->
            <div class="q_action_bar">
                <div style="display: inline; float: left">
                    <img class="q_action_icon" ng-src="/app/images/tabs/query/{{ state.running ? 'running-24.gif' : 'run-24.gif' }}" ng-click="executeQuery()" title="Execute the query script">
                    <img ng-show="savedQuery.modified" class="q_action_icon" src="/app/images/tabs/query/save-24.png" ng-click="saveQuery(savedQuery)" title="Save and upload the query script">
                    <img ng-show="state.results" class="q_action_icon" src="/app/images/tabs/query/download-24.png" ng-click="downloadResults(state.results)" title="Download results">
                </div>
                <div style="display: inline; float: right; vertical-align: middle">
                    <span ng-show="state.running" style="margin: 15px; vertical-align: middle">
                        <img class="middle" src="/app/images/tabs/query/clock-16.png">
                        <span class="q_clock_text">{{ queryElaspedTime | number:0 }} sec(s)</span>
                    </span>
                    <span class="q_clock_text" ng-show="state.results" style="margin: 15px; vertical-align: middle">
                        {{ state.results.values.length | number }} result(s) in
                        <span class="positive">{{ state.results.runTimeMillis | number:1 }} sec(s)</span>
                    </span>
                </div>
                <br style="clear: both">
            </div>

            <!-- Query Results -->
            <div style="width: 100%; min-height: 298px; background: #eeeeee; border: 1px solid #cccccc">
                <div class="q_results_container">
                    <table class="full_width" ng-show="state.results">
                        <thead>
                        <tr style="border-bottom: 1px solid #aaaaaa">
                            <th ng-repeat="label in state.mappings.labels">
                                <a ng-click="toggleSortField(label)" title="sort by {{ label }}">
                                    {{ label }}
                                    <img ng-show="state.sortField == label" class="middle clickable"
                                         ng-src="/app/images/buttons/sort_{{ state.ascending ? 'up' : 'down' }}.gif">
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in state.results.values" ng-class="isSelected(topic, partition, state.results, $index) ? 'highlighted' : $index % 2 == 0 ? '' : 'q_odd'">
                            <td ng-repeat="column in state.mappings.labels">
                                <span ng-show="$index == 0">
                                    <a ng-click="switchToMessage(state.results.topic, partitionAt($parent.$index), offsetAt($parent.$index))">
                                        <span class="q_key_field">{{ row[column] }}</span>
                                    </a>
                                </span>
                                <span ng-hide="$index == 0">{{ row[column] }}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br style="clear: both">
</div>