.d_editor {
    background: #fffff0;
    border: 1px solid #cccccc;
    width:100%;
    height:100%;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
}

div.d_editor_bar {
    display: block;
    width: 100%;
    height: 24px;
    background: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 4px 4px 4px 4px;
    vertical-align: middle;
    margin-bottom: 4px;
}

.new_schema_section {
    display: block;
    width: 100%;
}

.mode_label {
    float: right;
    margin-right: 15px
}

img.d_editor_bar {
    margin-left: 15px;
    vertical-align: middle;
    cursor: pointer;
}

.schema_error {
    display: block;
    width: 100%;
    border: 1px solid #ff0000;
    border-radius: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
}