a {
    cursor: pointer;
}

body {
    margin-left: 50px;
    margin-right: 50px;
}

.clickable { cursor: pointer; }

.error {
    font-weight: bold;
    color: #ff0000;
}

fieldset {
    border-color: #cccccc;
}

.full_block {
    display: block;
    width: 100%;
}

.highlighted {
    background: #55aaff;
    color: #ffffff;
}

img.top {
    vertical-align: top;
}

.inline {
    display: inline;
}

legend {
    color: #999999
}

.messages { color: #00cc00 }

.negative { color: #f00000 }
.positive { color: #00cc00 }

.middle { vertical-align: middle }

.block { display: block; }

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

th { text-align: left }

.title1 { color: #f00000 }

.title2 { color: #0000ff }

.title3 { color: #00a000 }

.version { font-size: 12pt }