a {
    cursor: pointer;
}

.block { display: block }

body {
    margin-left: 25px;
    margin-right: 25px;
}

.bold { font-weight: bold }

.clickable { cursor: pointer; }

.error {
    font-weight: bold;
    color: #ff0000;
}

fieldset {
    border-color: #cccccc;
}

.full_block {
    display: block;
    width: 100%;
}

.full_width { width: 100% }

.global_info {
    width: 100%;
    font-weight: bold;
    background: #eeeeff;
    color: #0000ff;
}

.global_error {
    width: 100%;
    font-weight: bold;
    background: #ffeeee;
    color: #ff0000;
}

.global_warning {
    width: 100%;
    font-weight: bold;
    background: #ffeecc;
    color: #ffaa40;
}

.highlighted {
    background: #337ab7;
    color: #ffffff;
}

.img { vertical-align: middle }

.inline {
    display: inline;
}

legend {
    color: #999999
}

.messages { color: #00cc00 }

.negative { color: #f00000 }
.positive { color: #00cc00 }

.middle { vertical-align: middle }

.tab_active {
    border: 2px solid #000000;
    border-radius: 4px 4px 4px 4px;
    padding: 2px 2px 2px 2px;
    vertical-align: middle;
}

.tab_inactive {
    padding: 4px 4px 4px 4px;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

th { padding: 4px 4px 4px 4px; }

td { padding: 4px 4px 4px 4px; }

th { text-align: left }

.title1 { color: #f00000 }

.title2 { color: #337ab7 }

.title3 { color: #00a000 }

.top { vertical-align: top }

.version { font-size: 12pt }

.warning { color: #ffaa40 }