.streaming_topics_container {
    clear: both;
    width: auto;
    height: 525px;
    overflow: auto;
}

.zk_item_container {
    clear: both;
    width: auto;
    height: 525px;
    overflow: auto;
}
