.q_clock_text {
    font-size: 10pt;
    font-weight: bold;
    color: #000000;
}

.q_editor {
    background: #fffff0;
    border: 1px solid #cccccc;
    width:100%;
    height:100%;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
}

.q_even {
    background-color: #ffffff;
}

.q_odd {
    background-color: #eeffff;
}

.q_highlighted {
    color: #337ab7;
    text-decoration: underline;
}

.q_key_field {
    color: #aa00aa;
}

.q_action_icon {
    padding: 4px 4px 4px 4px;
    cursor: pointer;
}

.q_action_bar {
    width: 100%;
    height: 32px;
    background: #eeeeee;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    margin: 2px 2px 2px 2px;
}

.q_new_query {
    color: #888888;
    cursor: pointer;
    text-decoration: underline;
}

.q_topics_container {
    clear: both;
    width: auto;
    height: 270px;
    overflow: auto;
    border-bottom: 1px solid #cccccc;
}

.q_saved_results_container {
    clear: both;
    width: auto;
    height: 135px;
    overflow: auto;
}

.q_results_container {
    clear: both;
    width: auto;
    height: 300px;
    overflow: auto;
}

#run_button {
    background-color: #40ff40;
    font-weight: normal;
    text-align: right;
    color: #000000;
    cursor: pointer;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}