<div class="full_block hide_show_topics">
    <span>
        {{ getDecoders().length | number }} of {{ decoders.length }} Decoder(s) shown
    </span>
    <span ng-click="toggleHideShowEmptyTopics()" class="clickable" style="float: right">
        <span ng-show="hideEmptyTopics">[Show empty]</span>
        <span ng-hide="hideEmptyTopics">[Hide empty]</span>
    </span>
    <br style="clear: both">
</div>
<div ng-show="!decoders.length" class="warning bold">
    <img src="/assets/images/status/yellowlight.gif"> No decoders found
</div>