<div>
    <img class="bulb" src="/assets/images/common/bulb-16.png">
    <span class="title1">Tri</span><span class="title2">fec</span><span class="title3">ta</span>
    provides a couple of configuration properties that allows users to control the frequency
    of topic and consumer group offset updates:

    <ul>
        <li><i style="color: blue">trifecta.web.push.interval.consumer</i> defines the interval (in seconds) that changes
            to consumer offsets will be pushed to web-socket clients</li>
        <li><i style="color: blue">trifecta.web.push.interval.topic</i> defines the interval (in seconds) that changes
            to topics (new messages) will be pushed to web-socket clients</li>
    </ul>
</div>