<div class="inspect_container">
    <div ng-include="'/assets/views/partials/hide_show_console_consumers.html'"></div>

    <!-- No Consumers -->
    <div ng-show="consumersLoading" style="margin-top: 15px">
        <img src="/assets/images/status/loading.gif"> Retrieving consumer groups... This could take a while.
    </div>
    <div ng-hide="consumersLoading || consumers.length">
        <div>
            <img src="/assets/images/status/yellowlight.gif">
            <span class="warning">No consumers were found.</span>
        </div>
        <p style="margin-top: 5px">But if you believe some consumer data should have been found here,
            don't panic.</p>
        <p>Trifecta supports <u>three types</u> of consumers:</p>
        <ul>
            <li>Kafka-native Consumer Groups</li>
            <li>Storm Partition Manager Consumers</li>
            <li>Zookeeper Consumer Groups</li>
        </ul>

        <p>These consumer groups require one of more of the following properties to be added to the configuration file
            <span style="color: blue">$HOME/.trifecta/config.properties</span>.</p>

        <p><i>Kafka-native Consumer Groups</i> require the setting of a property (<i>trifecta.kafka.consumers.native</i>)
            that indicates which consumers to retrieve to be set to <i>true</i></p>

        <p><i>Storm Partition Manager Consumers</i> require a property (<i>trifecta.kafka.consumers.storm</i>) to be
            set to <i>true</i></p>

        <p><i>Zookeeper-based Consumer Groups</i> are retrieved by default. But can be disabled by setting the
            <i>trifecta.kafka.consumers.zookeeper</i> property to <i>false</i></p>

        <p>Examples:</p>
        <blockquote>
            <div style="color: #aaaaaa"># indicates which native Kafka consumers should be retrieved</div>
            <div>
                <span style="color: magenta">trifecta.kafka.consumers.native</span> = <span style="color: blue">dev,test,prod</span>
            </div>

            <div style="color: #aaaaaa"># indicates whether Zookeeper-based consumers should be enabled/disabled</div>
            <div>
                <span style="color: magenta">trifecta.kafka.consumers.zookeeper</span> = <span style="color: blue">false</span>
            </div>

            <div style="color: #aaaaaa"># indicates whether Storm Partition Manager-style consumers should be read from
                Zookeeper
            </div>
            <div>
                <span style="color: magenta">trifecta.kafka.consumers.storm</span> = <span style="color: blue">true</span>
            </div>
        </blockquote>
    </div>

    <!-- Consumers -->
    <div ng-repeat="consumer in getConsumers() | orderBy:'consumerId'" class="block">
        <a ng-click="expandConsumer(consumer)">
            <img ng-src="/assets/images/{{ consumer.loading ? 'status/loading.gif' : consumer.expanded ? 'buttons/collapse.png' : 'buttons/expand.png' }}">
            <img src="/assets/images/common/consumers-16.png">
            <span>
                {{consumer.consumerId}}
                <span ng-show="consumer.version && versions[consumer.version]"> ({{ versions[consumer.version] }})</span>
            </span>
            <img src="/assets/images/status/processing.gif" ng-show="consumer.expanded && isConsumerUpToDate(consumer)">
        </a>

        <div ng-show="consumer.expanded">
            <div ng-repeat="t in consumer.topics | orderBy:'topic'" class="indent">
                <img ng-src="/assets/images/{{ t.loading ? 'status/loading.gif' : t.expanded ? 'buttons/collapse.png' : 'buttons/expand.png' }}"
                    ng-click="t.expanded = !t.expanded"
                    class="clickable">
                <img src="/assets/images/common/topic-16.png">{{ t.topic }}
                <span ng-show="getTotalMessageCount(t.topic)">
                    (<span class="messages">{{ getTotalMessageCount(t.topic) | number }}</span>)
                </span>

                <div ng-show="t.expanded" class="ident">
                    <table style="width: 100%; border: 1px solid #dddddd">
                        <tr style="border-bottom: 1px solid #dddddd">
                            <th class="col-md-4 left">Partition / Owner</th>
                            <th class="col-md-3 right">Offset</th>
                            <th class="col-md-2 right">Remaining</th>
                            <th class="col-md-3 center">Last Updated</th>
                        </tr>

                        <tr ng-repeat="coffset in t.offsets | orderBy:'partition'">
                            <td class="left" title="{{ fixThreadName(t.consumerId, t.threadId) }}">
                                {{ coffset.partition }}
                                <span ng-show="getConsumerHost(consumer, coffset)" class="small">
                                    : {{ getConsumerHost(consumer, coffset) }}
                                    (<span class="kafkaProtocolVersion">{{ getConsumerVersion(consumer, coffset) }}</span>)
                                </span>
                                <span ng-hide="getConsumerHost(consumer, coffset)" class="small null">
                                    : Consumer information unavailable
                                </span>
                            </td>
                            <td class="right">
                                <span class="pull-left">
                                    <span class="delta_topic" ng-show="coffset.deltaT">
                                        <img src="/assets/images/tabs/inspect/arrow_topic.gif"> {{ coffset.deltaT | number }}
                                    </span>
                                    <span class="delta_consumer" ng-show="coffset.deltaC">
                                        <img src="/assets/images/tabs/inspect/arrow_consumer.gif"> {{ coffset.deltaC | number }}
                                    </span>
                                </span>
                                <span class="pull-right">
                                    <a ng-click="switchToMessage(coffset.topic, coffset.partition, coffset.offset)">{{ coffset.offset || 0 }}</a>
                                </span>
                            </td>
                            <td class="right">
                                {{ getMessagesLeft(coffset) | number }}
                            </td>
                            <td class="center">
                                <span ng-show="coffset.lastModifiedTime">{{ coffset.lastModifiedTime | duration }}</span>
                                <span ng-hide="coffset.lastModifiedTime" class="null">N/A</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div ng-include="'/assets/views/partials/hints_and_tips.html'"></div>
        <p><img class="bulb" src="/assets/images/common/bulb-16.png"> Kafka uses Consumer Groups to
            track the current offset individual for individual consumers. This view allows users to view
            those offsets via web socket in near real-time.</p>
    <div ng-include="'/assets/views/partials/web_socket_refresh.html'"></div>
</div>