.pub_bold_label {
    color: #337ab7;
}

.pub_editor {
    background: #fffff0;
    border: 1px solid #cccccc;
    width:100%;
    height:100%;
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
}

.pub_hex_note {
    color: #0000ff;
}

.pub_label {
    color: #337ab7;
    font-size: 11pt;
}

.publish_button {
    border-radius: 4px 4px 4px 4px;
    background: #337ab7;
    color: #ffffff;
    font-size: 9pt;
}

.pub_message_key_panel {
    display: block;
    border: 1px solid #cccccc;
    border-radius: 5px 5px 5px 5px;
    background: #eeeeee;
    padding: 10px;

    clear: both;
    width: auto;
    height: 100px;
    overflow: auto;
}

.pub_message_data_panel {
    display: block;
    border: 1px solid #cccccc;
    border-radius: 5px 5px 5px 5px;
    background: #eeeeee;
    padding: 10px;

    clear: both;
    width: auto;
    height: 400px;
    overflow: auto;
}